/*
    pO\
   6  /\
     /OO\
    /OOOO\
   /OOOOOO\
  (OOOOOOOO)
   \:~==~:/

ChocolateChip-UI
ChUI-Win.css
Copyright 2014 Sourcebits www.sourcebits.com
License: MIT
Version: 3.8.0
*/
/*
  To create a custom theme, adjust the color for @primaryColor. If you want a secondary color, say on the background of your lists, adjust the color of @listBkColor to the color you want.
*/
.attentionGrapper {
  color: #007aff !important;
}
/* 
  Flex parameters:
  #flex > .display(<flex> | <inline-flex>);
  #flex > .flex-direction(row | row-reverse | column | column-reverse);
  #flex > .justify-content(flex-start | flex-end | center | space-between | space-around);
  #flex > .align-content(flex-start | flex-end | center | space-between | space-around | stretch);
  #fkex > .flex(none | [ <flex-grow> <flex-shrink> | <flex-basis> ]);
*/
/* ==============================
   Body
   =========================== */
html,
body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  font: normal 14px/18px SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  -ms-touch-action: none;
}
body {
  /* Change background color for your app: */
  background-color: #000000;
  font: normal 10pt/13pt SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  -ms-user-select: none;
}
body * {
  -ms-user-select: none;
}
/* ==============================
   Article (view) styles
   =========================== */
article {
  position: absolute;
  top: 45pt;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.5s ease-out, transform 0.35s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-chaining: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.hide-navbars article {
  top: 0;
}
/* ==============================
  Article navigation states
  ============================== */
.current {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.next {
  transform: translate3d(105%, 0, 0);
  opacity: 0;
}
.previous {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
html[dir=rtl] .current {
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] .next {
  transform: translate3d(-100%, 0, 0);
}
html[dir=rtl] .previous {
  transform: translate3d(105%, 0, 0);
}
/* ==============================
   Scrollers
   =========================== */
article > section,
.scroller-vertical,
.scroller-horizontal {
  height: 100%;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  box-sizing: border-box;
  -ms-flex: 1;
  flex: 1;
}
.scroller-horizontal {
  overflow-y: hidden;
  overflow-x: auto;
}
.scroller-vertical {
  padding-top: 0;
}
article > section {
  padding-top: 10px;
}
article > section > :last-child:not(button)::after {
  content: '';
  display: block;
  margin-bottom: 100px;
}
/* ==============================
  Horizontal Panels
  ============================== */
.horizontal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.horizontal.centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
/* ==============================
   Buttons
   =========================== */
button {
  cursor: pointer;
  text-decoration: none;
  font-size: 13pt;
  transition: all 0.35s ease-out;
  display: block;
  width: auto;
  box-sizing: border-box;
  height: 30px;
  height: auto;
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  border: solid 2px #ffffff;
  color: #ffffff;
  background-color: #000000;
  padding: 5px 10px;
  overflow: hidden;
  text-align: center;
}
button.align-flush {
  position: absolute;
  right: 16px;
  top: 16px !important;
}
button:hover,
button.selected {
  color: #ffffff;
  background-color: #007aff;
  border-color: #ffffff !important;
}
button.back,
button.backTo {
  display: inline-block;
  min-width: 0;
  min-height: 0;
  background-clip: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff !important;
  padding: 0;
  text-align: center;
  width: 41px;
  height: 41px;
  font-size: 0;
  line-height: 30px !important;
  /* line-height must match the content box height. */
  vertical-align: baseline;
  overflow: hidden;
}
button.back::before,
button.backTo::before {
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  content: "\E0D5";
  vertical-align: 50%;
  font-size: 14pt;
  display: block;
  margin-left: -3px;
}
button.back:hover,
button.backTo:hover {
  background-color: #ffffff;
}
button.back:hover::before,
button.backTo:hover::before {
  color: #007aff;
}
button.action {
  width: auto;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  height: auto;
  min-width: 200px;
  max-width: 300px;
}
@media only screen and (device-width: 480px) and (orientation: portrait) {
  .back::before,
  .backTo::before {
    width: 41px;
    height: 41px;
  }
}
html[dir=rtl] button.back::before,
html[dir=rtl] button.backTo::before {
  transform: rotate(180deg);
}
html[dir=rtl] button.align-flush {
  left: 16px;
  right: auto;
}
/* ============================== 
   Nav bars
   =========================== */
#global-nav {
  background-color: #000000;
  overflow: hidden;
  padding: 0 5px;
}
nav {
  height: 45pt;
  line-height: 40pt;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s ease-in, transform 0.35s ease-out;
  padding: 5px 15px;
  vertical-align: middle;
}
nav > h1 {
  text-align: left;
  display: inline-block;
  margin: 0;
  font-size: x-large;
  font-family: SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  font-weight: normal;
  padding: 2px 10px 0px 0px;
  -ms-touch-action: none;
  position: relative;
  z-index: -1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}
nav button {
  position: relative;
  line-height: 20pt;
  padding: 0 10px;
}
nav button + h1 {
  padding-left: 10px;
}
nav button:first-of-type {
  line-height: 14pt;
  padding: 4px 10px;
  position: relative;
  top: 0;
  margin-left: 2px;
}
nav button:hover {
  border-color: #ffffff !important;
  background-color: #ffffff;
  color: #000000;
}
nav button.align-flush {
  position: absolute;
  right: 10px;
  top: 0;
}
nav > h1 + button {
  margin-top: -4px;
  float: right;
}
nav > h1 + button:first-of-type {
  margin-top: -4px;
  float: right;
}
.slide-out-app > nav > h1 {
  margin-left: 45px !important;
}
.slide-out-app > nav#global-nav > button:first-of-type {
  top: 8px;
}
html[dir=rtl] .slide-out-app > nav > h1 {
  margin-right: 80px !important;
  margin-left: auto;
}
/* ==============================
   Lists
   =========================== */
nav > h1,
h2,
h3,
h4,
h5,
section h2,
p,
li,
.list > li > p {
  color: #ffffff;
}
.list {
  list-style: none;
  margin: 10px 8px 0;
  padding: 0;
}
.list:first-child {
  margin-top: 0;
}
.list > li {
  padding: 5px;
  transition: all 0.3s ease-out;
  position: relative;
  background-color: #000000;
  font-size: initial;
  border: solid 1px transparent;
  -ms-user-select: none;
}
.list > li.show-detail::after {
  content: 'i';
  display: block;
  height: 20px;
  width: 22px;
  border-radius: 20px;
  border: solid 1px #ffffff;
  color: #ffffff;
  font: bold 14px/0 SegoeWP, SegoeUI, serif;
  box-sizing: border-box;
  padding: 10px 8px;
  position: absolute;
  top: 10px;
  right: 16px;
}
.list > li + .button.action {
  margin-top: 40px;
}
.list > li[data-goto]:hover,
.list > li[data-show-article]:hover {
  cursor: pointer;
  border: solid 1px #ffffff;
  background-color: #007aff;
  color: #ffffff !important;
}
.list > li[data-goto]:hover *,
.list > li[data-show-article]:hover * {
  color: #ffffff;
}
/* ==============================
   List footer
   =========================== */
.list ~ p {
  margin: 10px 25px 0;
}
.list ~ p + p {
  margin-top: 5pt;
}
/* ==============================
   List title & subtitle
   =========================== */
.list > li > h3,
.list > li > h4 {
  width: 80%;
  font-weight: 200;
  margin: 0;
}
.list > li h3 {
  font-size: 13pt;
  line-height: 16pt;
  margin-bottom: 4px;
  margin-top: 0 !important;
}
.list > li h4 {
  line-height: 12pt;
  color: #9e9e9e;
}
.list > li > h4,
.list > li > div > h4 {
  font-size: 12pt;
  line-height: 15pt;
  margin: 0;
}
.list + h2 {
  margin-top: 10px;
}
h2 + .list {
  margin-top: 0;
  border-top: solid 2px rgba(255, 255, 255, 0.25);
  padding-top: 5px;
}
section h2 {
  font: normal 11pt/12pt SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  margin: 10px 10px 0px 10px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}
section h2.normal-case {
  text-transform: none;
}
section h2.wrap {
  white-space: normal;
}
/* ==============================
   List detail
   =========================== */
section > p,
.list > li > p,
.list > li > div > p {
  font-size: 11pt;
  line-height: 14pt;
  margin: 0;
}
.list > li p + p {
  margin-top: 5px;
}
.list > li > p {
  margin: 5px 0px;
  font-size: 11pt;
  line-height: 14pt;
  color: #ffffff;
}
html[dir=rtl] .list > li.show-detail::after {
  left: 10px;
  right: auto;
}
/* ==============================
   Comp List Items
   =========================== */
li.comp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-bottom: 0;
}
li.comp > div {
  -ms-flex: 1 !important;
  flex: 1 !important;
  padding: 0 0 10px 0;
}
li.comp > div + aside {
  margin-right: -20px;
}
li.comp > h3,
li.comp > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  font-weight: 200;
}
li.comp > h3 > h3,
li.comp > h4 > h3 {
  margin: 0;
  min-width: 40%;
}
li.comp > h3 > h4,
li.comp > h4 > h4 {
  margin: 0;
}
li.comp.wrap > div > h3,
li.comp.wrap > div > h4 {
  white-space: normal;
  overflow: visible;
}
li.comp > aside {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 10px 0;
}
li.comp > aside:first-child {
  -ms-flex-align: start;
  align-items: start;
  margin-right: 10px;
}
li.comp > aside:last-child {
  padding: 0 20px 10px 10px;
}
li.comp > aside > label,
li.comp > aside > span {
  display: inline-block;
  margin-left: 5px;
}
li.comp > aside > .nav {
  display: none;
}
li.comp > aside > .nav::after {
  display: none;
}
li.comp > aside > .show-detail::after {
  content: 'i';
  display: block;
  height: 20px;
  width: 22px;
  border-radius: 20px;
  border: solid 1px #ffffff;
  color: #ffffff;
  font: bold 14px/0 SegoeWP, SegoeUI, Times, serif;
  box-sizing: border-box;
  padding: 10px 8px;
  float: right;
  margin: -20px 0 0 0;
}
li.comp:last-of-type > aside:last-child {
  border: none;
}
.list > li > aside > h4 {
  margin: 0;
  font-weight: normal;
  color: #cccccc;
}
aside > span.counter,
aside > span.date-time {
  font-weight: normal;
  color: #cccccc;
  font-size: 12pt;
}
p {
  color: #ffffff;
}
html[dir=rtl] li.comp > aside:first-child {
  margin-right: auto;
  margin-left: 10px;
}
html[dir=rtl] li.comp > aside > span.counter,
html[dir=rtl] li.comp > aside > span.date-time {
  margin-right: 10px !important;
  margin-left: 0 !important;
  display: inline-block !important;
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  li.comp > aside > h4 {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* ==============================
   Grids
   =========================== */
/* Grid: */
.grid {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-align-items: stretch;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
/* Allow columns to wrap */
.grid.wrap {
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Column: */
.col {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* Centered grids: */
.grid.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.center .col {
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-grow: 0;
  -ms-flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* Columns: */
.flex-1 {
  -webkit-flex-basis: 10%;
  -ms-flex-basis: 10%;
  flex-basis: 10%;
}
.flex-2 {
  -webkit-flex-basis: 20%;
  -ms-flex-basis: 20%;
  flex-basis: 20%;
}
.flex-3 {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}
.flex-4 {
  -webkit-flex-basis: 40%;
  -ms-flex-basis: 40%;
  flex-basis: 40%;
}
.flex-5 {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}
.flex-6 {
  -webkit-flex-basis: 60%;
  -ms-flex-basis: 60%;
  flex-basis: 60%;
}
.flex-7 {
  -webkit-flex-basis: 70%;
  -ms-flex-basis: 70%;
  flex-basis: 70%;
}
.flex-8 {
  -webkit-flex-basis: 80%;
  -ms-flex-basis: 80%;
  flex-basis: 80%;
}
.flex-9 {
  -webkit-flex-basis: 90%;
  -ms-flex-basis: 90%;
  flex-basis: 90%;
}
.flex-10 {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}
.gutter-5 .col {
  margin: 5px;
}
.gutter-10 .col {
  margin: 10px;
}
body.isNativeAndroidBrowser .flex-1 {
  -webkit-box-flex: 1;
}
body.isNativeAndroidBrowser .flex-2 {
  -webkit-box-flex: 2;
}
body.isNativeAndroidBrowser .flex-3 {
  -webkit-box-flex: 3;
}
body.isNativeAndroidBrowser .flex-4 {
  -webkit-box-flex: 4;
}
body.isNativeAndroidBrowser .flex-5 {
  -webkit-box-flex: 5;
}
body.isNativeAndroidBrowser .flex-6 {
  -webkit-box-flex: 6;
}
body.isNativeAndroidBrowser .flex-7 {
  -webkit-box-flex: 7;
}
body.isNativeAndroidBrowser .flex-8 {
  -webkit-box-flex: 8;
}
body.isNativeAndroidBrowser .flex-9 {
  -webkit-box-flex: 9;
}
body.isNativeAndroidBrowser .flex-10 {
  -webkit-box-flex: 10;
}
html[dir=rtl] .grid {
  -webkit-box-direction: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* ==============================
   Segmented Control
   =========================== */
.segmented {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
  margin: 0px 10px;
}
.segmented > button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid 2px #ffffff;
  border-left: none;
  text-align: center;
  font-size: 9pt;
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  margin: 0px !important;
  padding: 0px 10px;
  transition: none;
}
.segmented > button:first-of-type {
  border-left: solid 2px #ffffff;
}
.segmented > button:hover,
.segmented > button.selected {
  color: #ffffff !important;
  background-color: #007aff !important;
  opacity: 1 !important;
  box-shadow: none;
  border-color: #ffffff !important;
}
div.horizontal.centered > .segmented {
  display: -ms-flexbox;
  display: flex;
  margin: 10px 16px;
}
.segmented.align-flush {
  position: absolute;
  right: 15px;
  top: 10px;
}
html[dir=rtl] .segmented.align-flush {
  left: 15px;
  right: auto;
}
html[dir=rtl] .segmented > button {
  border-left: solid 2px #ffffff;
  border-right: none;
}
html[dir=rtl] .segmented > button:first-of-type {
  border-right: solid 2px #ffffff;
}
/* ==============================
   Segmented Paging Control
   =========================== */
.segmented.paging > button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20pt;
  padding: 0;
  width: 40px;
  height: 40px;
  border: solid 2px #ffffff;
  box-shadow: none;
  position: relative;
  box-sizing: border-box;
}
.segmented.paging > button:first-of-type {
  margin-right: 10px !important;
  top: 0 !important;
}
.segmented.paging > button:hover,
.segmented.paging > button.selected {
  color: #007aff;
  box-shadow: none;
  border-color: #ffffff;
  background-color: #ffffff;
  color: #ffffff;
  opacity: 1;
}
.segmented.paging > button:hover::before,
.segmented.paging > button.selected::before {
  background-color: #ffffff;
  color: #007aff;
}
.segmented.paging > button::before {
  content: '';
  display: block;
  -ms-flex: 1;
  flex: 1;
  height: 38px;
  width: 38px;
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  line-height: 20pt;
  vertical-align: 50%;
  font-size: 24pt;
  color: #ffffff;
}
nav .segmented.paging > button {
  border-radius: 50%;
}
.segmented.paging.horizontal > button:first-of-type::before {
  content: '\E09E';
  margin-left: -2px;
}
.segmented.paging.horizontal > button:last-of-type::before {
  content: '\E09F';
}
.segmented.paging.vertical > button:first-of-type::before {
  content: '\E0A0';
}
.segmented.paging.vertical > button:last-of-type::before {
  content: '\E0A1';
}
article.paging > section {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  padding: 0 0 100px 0 !important;
  transition: all 0.15s ease-out;
}
article.paging.horizontal > section.previous {
  transform: translate3d(-100%, 0, 0);
}
article.paging.horizontal > section.current {
  transform: translate3d(0, 0, 0);
}
article.paging.horizontal > section.next {
  transform: translate3d(100%, 0, 0);
}
article.paging.vertical > section.previous {
  transform: translate3d(0, -100%, 0);
}
article.paging.vertical > section.current {
  transform: translate3d(0, 0, 0);
}
article.paging.vertical > section.next {
  transform: translate3d(0, -100%, 0);
}
html[dir=rtl] .segmented.paging.horizontal > button:first-of-type::before,
html[dir=rtl] .segmented.paging.vertical > button:first-of-type::before,
html[dir=rtl] .segmented.paging.horizontal > button:last-of-type::before,
html[dir=rtl] .segmented.paging.vertical > button:last-of-type::before {
  transform: rotate(-180deg);
}
html[dir=rtl] .segmented.paging.horizontal > button:first-of-type::before,
html[dir=rtl] .segmented.paging.vertical > button:first-of-type::before {
  margin-right: -2px;
}
html[dir=rtl] .segmented.paging.horizontal > button:last-of-type,
html[dir=rtl] .segmented.paging.vertical > button:last-of-type {
  margin-right: 10px !important;
  border: solid 2px #ffffff !important;
}
html[dir=rtl] article.paging.horizontal > section.previous {
  transform: translate3d(100%, 0, 0);
}
html[dir=rtl] article.paging.horizontal > section.next {
  transform: translate3d(-100%, 0, 0);
}
/* ==============================
   Toolbar Styles
   =========================== */
div.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45pt;
  padding: 0 15px;
  background-color: #1a1a1a;
  border-top: solid 1px #333333;
  overflow: hidden;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
}
div.toolbar > button {
  margin-right: 10px;
}
.splitlayout > .master + .toolbar {
  left: 0;
  width: 320px;
  border-right: solid 1px #333333 !important;
  background-color: #1a1a1a;
}
.splitlayout > .detail + .toolbar {
  left: 320px;
  background-color: #1a1a1a;
}
article.has-toolbar {
  bottom: 45pt !important;
}
div.toolbar.current {
  -webkit-transform: translate3d(0, 0, 0) !important;
}
div.toolbar.next {
  -webkit-transform: translate3d(101%, 0, 0) !important;
}
div.toolbar.previous {
  -webkit-transform: translate3d(-101%, 0, 0) !important;
}
html[dir=rtl] .splitlayout > .master + .toolbar {
  right: 0;
  left: 320px;
  width: 320px;
  border-right: none;
  border-left: solid 1px #333333 !important;
}
html[dir=rtl] .splitlayout > .detail + .toolbar {
  right: 320px;
  left: 0;
}
html[dir=rtl] div.toolbar.current {
  transform: translate3d(0, 0, 0) !important;
}
html[dir=rtl] div.toolbar.next {
  transform: translate3d(-100%, 0, 0) !important;
}
html[dir=rtl] div.toolbar.previous {
  transform: translate3d(105%, 0, 0) !important;
}
/* ==============================
   Split Layout Styles
   =========================== */
body.splitlayout {
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-align: stretch;
}
body.splitlayout > nav {
  background-color: #1a1a1a !important;
  border-bottom: solid 1px #333333;
}
body.splitlayout > nav:first-of-type {
  width: 320px;
  border-right: solid 1px #333333 !important;
}
body.splitlayout > nav:last-of-type {
  left: 320px;
}
body.splitlayout > nav h1 {
  z-index: auto;
  text-align: center;
}
body.splitlayout > article.master {
  top: 60px;
  left: 0;
  bottom: 0;
  right: 320px;
  box-sizing: border-box;
  width: 320px;
  border-right: solid 1px #262626 !important;
}
body.splitlayout > article.master > section {
  padding-bottom: 100px;
  height: 100%;
}
body.splitlayout > article.detail {
  top: 60px;
  left: 320px !important;
  bottom: 0;
  left: 0;
  -ms-flex: 1;
  overflow: hidden;
}
body.splitlayout > article.detail > section {
  padding-bottom: 100px;
  height: 100%;
}
.master .list > li.selected {
  background-color: #ffffff;
  color: #000000 !important;
}
html[dir=rtl] body.splitlayout > nav:first-of-type {
  right: 0;
  left: 320px;
  border-right: none;
  border-left: solid 1px #333333 !important;
}
html[dir=rtl] body.splitlayout > nav:last-of-type {
  left: 0;
  right: 320px;
}
html[dir=rtl] body.splitlayout > article.master {
  left: 320px !important;
  right: 0 !important;
  border-right: none !important;
  border-left: solid 1px #333333 !important;
}
html[dir=rtl] body.splitlayout > article.detail {
  right: 320px !important;
  left: 0 !important;
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  .splitlayout > article.master {
    right: 260px !important;
  }
  .splitlayout > article.detail {
    left: 260px !important;
  }
  .splitlayout > nav:first-of-type {
    width: 260px !important;
  }
  .splitlayout > nav:last-of-type {
    left: 260px !important;
  }
}
/* ==============================
   Mask Control
   =========================== */
.mask {
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  cursor: pointer;
}
/* ==============================
   Busy Control
   =========================== */
.busy {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 20px;
}
.busy.align-flush {
  position: absolute;
  right: 15px;
}
nav > .busy {
  width: 80px;
}
/* ==============================
   Popover Control
   =========================== */
.popover {
  min-width: 200px;
  background-color: #000000;
  height: 250px;
  max-height: 300px;
  position: absolute;
  z-index: 111111;
  margin-top: 10px;
  transform: scaleY(0);
  transition: all 0.15s ease-in-out;
  transform-origin: 50% 0%;
  box-shadow: 0 0 5px 3px #4d4d4d;
  border: solid 2px #000000;
}
.popover.open {
  transform: scaleY(1);
}
.popover header {
  display: none;
}
.popover > section {
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding-bottom: 0;
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 100%;
  padding-bottom: 20px;
}
.popover > section > ul.list,
.popover > section > ul.list > li {
  margin: 0 !important;
}
.popover > section > ul.list > li:hover {
  background-color: #007aff;
  color: #ffffff;
}
button.show-popover:hover {
  background-color: #ffffff;
  color: #000000;
}
/* ==============================
   Popup Control
   =========================== */
.popup {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #fafafa;
  padding: 20px 10px;
  transform: scaleY(1);
  transition: all 0.25s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.25s ease-in;
  transform-origin: top center;
}
.popup.closed {
  transform: scaleY(0);
}
.popup.opened {
  display: block;
  transform: scaleY(1);
  transition: all 0.25s ease-in-out;
}
.popup * {
  color: #000000;
}
.popup > .panel {
  display: block !important;
  color: #fff;
  font: normal 16px/22px Helvetica, Arial, Sans-serif;
  padding: 0 0 10px 0;
  width: 80%;
  height: 100%;
  margin: 0 20px;
}
.popup > .panel > p {
  padding: 0 20px;
}
.popup header > h1 {
  font-size: 24px;
}
.popup header,
.popup footer {
  box-sizing: border-box;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto !important;
}
.popup footer {
  height: auto;
  position: relative;
  bottom: -10px;
  left: -10px;
  padding: 0 20px;
  height: 42px;
}
.popup footer > button {
  -ms-flex: 1;
  flex: 1;
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  box-shadow: none;
  margin: 10px 0px !important;
  height: 42px !important;
  font-size: 18px;
  line-height: 32px;
  padding: 8px 20px;
  border-color: #000000;
  background-color: #ffffff;
  color: #000000;
  font: bold 16px/20px Helvetica, sans-serif;
  border-right: none;
  text-align: center;
}
.popup footer > button:last-of-type {
  border-right: solid 2px #000000;
}
.popup footer > button:hover {
  background-color: #007aff;
  border-color: #000000 !important;
  color: #ffffff;
}
.popup footer + button {
  border-right: solid 2px #000000;
}
html[dir=rtl] .popup footer > button:first-of-type {
  border-right: solid 2px #000000;
  border-left: solid 2px #000000;
}
/* ============================== 
   Editable Lists
   =========================== */
.list.editable > li,
.list.deletable > li {
  overflow: hidden;
  padding: 7px 5px;
}
.list.editable > li > .move-up,
.list.deletable > li > .move-up,
.list.editable > li > .move-down,
.list.deletable > li > .move-down {
  width: 27px;
  height: 27px;
  display: block !important;
  position: relative;
  float: right;
  margin-top: -33px;
  transition: all 0.25s ease-out;
  -ms-transform: translate3d(100px, 0, 0);
  transform: translate3d(140px, 0, 0);
}
.list.editable > li > .move-up::after,
.list.deletable > li > .move-up::after,
.list.editable > li > .move-down::after,
.list.deletable > li > .move-down::after {
  display: block;
  content: '\E0A0';
  width: 27px;
  height: 27px;
  position: absolute;
  border: solid 2px #fff;
  border-radius: 50%;
  color: #fff;
  z-index: 1000000;
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  line-height: .9;
  font-size: 16pt;
  text-align: center;
}
.list.editable > li > .move-up,
.list.deletable > li > .move-up {
  margin-top: -32px;
}
.list.editable > li > .move-down,
.list.deletable > li > .move-down {
  margin-right: 10px !important;
  content: '\E0A1';
}
.list.editable > li:first-of-type > .move-up,
.list.deletable > li:first-of-type > .move-up {
  opacity: .35;
}
.list.editable > li:last-of-type > .move-down,
.list.deletable > li:last-of-type > .move-down {
  opacity: .35;
}
.deletion-indicator {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding: 2px 5px 13px 1px;
  height: 24px;
  width: 24px;
  background-color: #000000;
  border: solid 2px #ffffff;
  position: absolute;
  top: 5px;
  left: -50px;
  transition: all 0.25s ease-out;
  cursor: pointer;
}
.deletion-indicator:hover {
  box-shadow: 0 0 6px 2px #ffffff !important;
  color: #66afff !important;
}
li.selected > .deletion-indicator {
  box-shadow: 0 0 6px 2px #ffffff !important;
  color: #66afff !important;
}
li.selected > .deletion-indicator::before {
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  font-size: 13pt;
  text-align: left;
  content: '\E008';
  color: #66afff;
  display: block;
  margin: -2px 0 0 -4px;
}
.list.editable.showIndicators .deletion-indicator,
.list.deletable.showIndicators .deletion-indicator {
  margin-left: 55px;
}
.list.editable.showIndicators li,
.list.deletable.showIndicators li {
  padding-left: 34px;
}
.list.editable.showIndicators li .move-up,
.list.deletable.showIndicators li .move-up {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list.editable.showIndicators li .move-down,
.list.deletable.showIndicators li .move-down {
  margin-top: -28px;
  -ms-transform: translate3d(-36px, 0, 0) rotate(180deg);
  transform: translate3d(-36px, 0, 0) rotate(180deg);
}
.list.editable.showIndicators li > li > h3,
.list.deletable.showIndicators li > li > h3 {
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list.editable.showIndicators li.selected > .move-up,
.list.deletable.showIndicators li.selected > .move-up {
  -ms-transform: translate3d(-45px, 0, 0);
  transform: translate3d(-45px, 0, 0);
}
.list.editable.showIndicators li.selected > .move-down,
.list.deletable.showIndicators li.selected > .move-down {
  -ms-transform: translate3d(-80px, 0, 0) rotate(180deg);
  transform: translate3d(-80px, 0, 0) rotate(180deg);
}
.list.editable.showIndicators > li > h3,
.list.deletable.showIndicators > li > h3 {
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button.delete {
  float: right;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  width: 32px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.25s ease-out;
  transform: translate3d(140px, 0, 0);
  cursor: pointer;
  font-weight: 200;
  border: solid 2px #ffffff;
  border-radius: 50%;
  padding: 0;
  overflow: hidden;
}
.button.delete:hover {
  border-color: #ffffff !important;
}
.button.delete:hover::before {
  color: #ffffff;
}
.button.delete::before {
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  content: "\E107";
  vertical-align: 50%;
  font-size: 14pt;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 8px;
}
li.selected > .button.delete {
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] .deletion-indicator {
  right: -50px !important;
  left: auto;
}
html[dir=rtl] li.selected > .deletion-indicator::before {
  margin: -2px 18px 0 0;
}
html[dir=rtl] .list.showIndicators li {
  padding-left: 0;
  padding-right: 34px;
}
html[dir=rtl] .button.delete {
  float: left;
}
html[dir=rtl] .list.editable > li > .deletion-indicator,
html[dir=rtl] .list.deletable > li > .deletion-indicator {
  float: right;
  margin-right: auto;
  margin-left: -20px;
  right: -40px;
}
html[dir=rtl] .list.editable > li > .button.delete,
html[dir=rtl] .list.deletable > li > .button.delete {
  transform: translate3d(-80px, 0, 0);
  left: 0;
  right: auto;
}
html[dir=rtl] .list.editable > li > .move-up,
html[dir=rtl] .list.deletable > li > .move-up {
  float: left !important;
  -ms-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
html[dir=rtl] .list.editable > li > .move-down,
html[dir=rtl] .list.deletable > li > .move-down {
  margin-top: -28px;
  float: left !important;
  -ms-transform: translate3d(-140px, 0, 0) rotate(180deg);
  transform: translate3d(-140px, 0, 0) rotate(180deg);
}
html[dir=rtl] .list.showIndicators > li > .deletion-indicator {
  right: 0px !important;
  margin-left: 10px;
}
html[dir=rtl] .list.showIndicators > li > .move-up {
  -ms-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
html[dir=rtl] .list.showIndicators > li > .move-down {
  -ms-transform: translate3d(50px, 0, 0) rotate(180deg) !important;
  transform: translate3d(50px, 0, 0) rotate(180deg) !important;
}
html[dir=rtl] .list.showIndicators > li.selected {
  margin-right: 0;
  padding-left: 45px;
}
html[dir=rtl] .list.showIndicators > li.selected > .button.delete {
  transform: translate3d(6px, 0, 0);
}
/* ==============================
   Form Styles
   =========================== */
input:not([type=range]),
textarea {
  border: solid 2px #ffffff;
  background: transparent !important;
  padding: 5px;
  color: #ffffff;
}
input:focus:not([type=range]) {
  border-color: #007aff;
  color: #ffffff;
}
select {
  background-color: transparent;
  border: solid 2px #ffffff;
  color: #ffffff;
  height: 30px;
  padding-left: 5px;
}
select:focus {
  border-color: #007aff;
}
select:focus::-ms-value {
  background-color: transparent;
  color: #ffffff;
}
select:focus::-ms-expand {
  border: solid 2px #007aff;
  border-top: none;
  border-right: none;
  border-bottom: none;
}
select::-ms-expand {
  border: solid 2px #ffffff;
  border-top: none;
  border-bottom: none;
  border-right: none;
  color: #ffffff;
  background-color: transparent;
  padding: 0 2px;
}
select option:hover,
select option:focus,
select option:checked {
  background-color: #007aff;
}
option {
  color: #000000;
  padding: 5px;
}
.select-box-label {
  display: none;
}
html[dir=rtl] select::-ms-expand {
  border: none;
  border-right: solid 2px #ffffff;
  padding: 0 4px 0 0;
}
.searchBar {
  width: auto;
  box-sizing: border-box;
  height: 30px;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
}
.searchBar > input[type="search"] {
  padding: 4px 0 4px 10px;
  width: auto;
  padding-left: 10px;
  margin-left: 25px;
  text-align: left;
  color: #000;
  background-color: #fff !important;
  border: none;
  border: solid 2px #fff;
}
.searchBar > input[type="search"]:focus {
  text-align: left;
  outline: none !important;
  color: #000;
}
.searchBar > input[type="search"]::-ms-clear {
  color: #000;
  border: solid 1px #000;
  height: 20px;
  margin: 2px 4px 2px 0;
}
.searchGlyph {
  font-family: 'Segoe UI Symbol';
  display: inline-block;
  height: 28px;
  width: 28px;
  box-sizing: border-box;
  padding: 2px;
  line-height: 16px;
  background-color: #000;
  border: solid 3px #fff;
  color: #fff;
}
/* ==============================
   Icon Styles
   =========================== */
/*
  Put a class or id on each icon.
  The use a png or svg image as 
  a background image. Apply a
  background color too.
  See page article of demo
  paging control for example.
*/
.icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
  border-radius: 0;
}
/* ==============================
   Range Control
   =========================== */
input[type="range"] {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Use color attribute for left side of range control */
/* Use color attribute for right side of range control */
/* ============================== 
   Select List
   =========================== */
.list.select li::before {
  content: '';
  display: block;
  float: left;
  transition: all 0.125s ease-in-out;
  border: solid 2px #ffffff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 0px;
}
.list.select li:hover::before,
.list.select li.selected::before {
  background-image: radial-gradient(circle, #ffffff 5px, transparent 5px);
  background-color: #3395ff;
}
.list.select li > input {
  display: none;
}
/* ==============================
   Sheet Control
   =========================== */
.sheet {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 0.25s ease-in;
  transform: translate3d(0, -100%, 0);
  visibility: hidden;
}
.sheet.opened {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.sheet button {
  width: auto;
  margin: 0 auto;
  padding: 10px 20px;
  height: auto;
  background-color: #ffffff;
  border-color: #000000;
  color: #000000;
}
.sheet button:hover,
.sheet button.selected {
  color: #ffffff;
  background-color: #007aff;
  border-color: #000000 !important;
}
.sheet > section {
  position: absolute;
  top: 36px;
  left: 0;
  bottom: 0;
  height: auto;
  right: 0;
}
.sheet > section > *,
.sheet > section h2 {
  color: #appBkColor;
}
.sheet > section > .list {
  border: none;
  background-color: transparent !important;
}
.sheet > section > .list > li {
  border-bottom: solid 1px #4d4d4d;
  background-color: transparent !important;
}
.sheet > section > .list::before {
  content: none;
}
.sheet > div.handle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: #000000;
  cursor: pointer;
  height: 28pt;
}
.sheet > div.handle::before {
  content: '\E0A0';
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  font-size: 24pt;
  text-align: left;
  color: #000000;
  display: block;
  margin-bottom: 10px;
}
/* ==============================
   Slide Out
   =========================== */
.slide-out {
  position: absolute;
  top: 44pt;
  left: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 111111111;
  width: 100%;
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
  transition: all 0.25s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.slide-out.open {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.slide-out > section {
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.slide-out > section > ul.list {
  margin-top: 20px;
}
button.slide-out-button {
  position: absolute;
  z-index: 1111111;
  top: 0 !important;
  left: 15px;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  margin-left: -5px !important;
}
button.slide-out-button::before {
  content: '\E179';
  height: 35px;
  width: 35px;
  color: #ffffff;
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  font-size: 14pt;
  text-align: left;
  display: block;
  margin: 2px 0 0 -5px;
}
button.slide-out-button:hover::before {
  color: #000000;
}
body.slide-out-app > article,
body.slide-out-app > nav:not(:first-of-type) {
  display: none !important;
}
body.slide-out-app > article.show,
body.slide-out-app > nav.show {
  display: block !important;
  z-index: 100;
}
.slideout-header {
  background-color: #000000 !important;
}
.slideout-header h2 {
  margin-left: 0;
  color: #ffffff !important;
  margin-top: 20px !important;
}
html[dir=rtl] .slide-out {
  transform: translate3d(100%, 0, 0);
}
html[dir=rtl] .slide-out.open {
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] button.slide-out-button {
  margin-right: 10px !important;
}
html[dir=rtl] button.slide-out-button::before {
  margin: 2px -17px 0 0 !important;
}
/* ==============================
   Stepper Control
   =========================== */
.stepper {
  -ms-flex-align: start;
  display: flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1px;
}
.stepper > input {
  margin: 0;
  display: none;
}
.stepper > label {
  display: block;
  border: solid 2px #ffffff;
  width: 36px;
  height: 32px;
  box-sizing: border-box;
  font: bold 14pt/20pt SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}
.stepper > button {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
  line-height: 18pt;
  cursor: pointer !important;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  height: 32px;
  padding: 1px 10px;
  box-shadow: none;
}
.stepper > button > span {
  display: none;
}
.stepper > button:first-of-type {
  border-right: none;
}
.stepper > button:first-of-type::before {
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  content: '\E108';
}
.stepper > button:last-of-type {
  border-left: none;
}
.stepper > button:last-of-type::before {
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  content: '\E109';
}
html[dir=rtl] .stepper > button:first-of-type {
  border-right: solid 2px #ffffff;
}
html[dir=rtl] .stepper > button:last-of-type {
  border-left: solid 2px #ffffff;
}
/* ==============================
   Switched List Items
   =========================== */
li.switched {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}
li.switched h3 {
  width: auto;
  font-size: 13pt;
  line-height: 24pt;
  color: #9e9e9e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-flex: 1;
  flex: 1;
}
li.switched h4 {
  width: auto;
  text-align: right;
  margin-right: 10px;
  font-size: 14pt;
  line-height: 24pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  max-width: 50%;
}
html[dir=rtl] li.switched h4 {
  margin-left: 10px;
  margin-right: auto;
}
/* ==============================
   Switch
   =========================== */
.switch {
  position: relative;
  height: 25px;
  width: 60px;
  border: 2px solid #ffffff;
  background-color: #000000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  box-sizing: border-box;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  -ms-user-select: none;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchAnimationOff;
}
.switch:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 3;
  top: 0px;
  border: solid 1px #ffffff;
  background-color: #1f8aff;
  height: 19px;
  width: 0;
  transition: all 0.15s ease-in-out;
}
.switch.on:before {
  width: 54px;
}
.switch.on > em {
  -ms-transform: translate3d(48px, 0, 0);
}
.switch > em {
  display: block;
  position: relative;
  z-index: 3;
  top: -2px;
  left: -3px;
  background-color: #ffffff;
  width: 12px;
  height: 25px;
  pointer-events: none;
  -ms-transform: translate3d(-1px, 0, 0);
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -ms-touch-action: none;
}
.switch > input {
  display: none;
}
html[dir=rtl] .switch:before {
  left: 0;
}
html[dir=rtl] .switch > em {
  -ms-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}
html[dir=rtl] .switch.on > em {
  -ms-transform: translate3d(2px, 0, 0);
  transform: translate3d(2px, 0, 0);
}
/* ==============================
   Tab Bar
   =========================== */
.tabbar {
  height: 47px;
  padding: 1px 5px;
  display: block;
  box-sizing: border-box;
  font-size: 10px;
  text-align: left;
  position: absolute;
  top: 45pt;
  left: 10px;
  right: 10px;
  overflow: hidden;
}
.tabbar > button {
  position: relative;
  display: inline-block !important;
  margin: 0;
  height: 30px;
  text-align: left;
  color: #ffffff;
  border-color: #000000;
  padding: 4px 10px 4px 0;
  border: none !important;
}
.tabbar > button:hover,
.tabbar > button.selected {
  color: #007aff !important;
  opacity: 1 !important;
  background-color: transparent;
}
.tabbar > button.more {
  font-size: 0;
  width: 40px;
}
.tabbar > button.more::before {
  font-family: "Segoe UI Symbol";
  font-weight: normal;
  content: '\E10C';
  font-size: 20pt;
  line-height: 0.85;
}
.tabbar > button.more > label {
  display: none !important;
}
.tabbar > button > label {
  font-size: 10pt !important;
}
body.hasTabBar > article {
  top: 95px !important;
}
/* ==============================
   Media Queries for landscape 
   & portrait layouts
   =========================== */
@media only screen and (device-width: 480px) and (orientation: portrait) {
  @-ms-viewport {
    width: 240px;
  }
  /*
    IMPORTANT! Define width for html and body
    to prevent horizontal scrolling when viewport is resized.
  */
  html,
  body,
  body {
    width: 240px;
    height: 400px;
  }
  nav > .button {
    -ms-flex: 0;
    flex: 0;
  }
  nav > h1 {
    -ms-flex: 2;
    flex: 2;
  }
  nav > h1 {
    font-size: large;
  }
  .list > li h3 {
    font-size: 14pt;
  }
  a.button.back,
  a.button.backTo {
    width: 30px;
    height: 30px;
    line-height: 18px !important;
    /* line-height must match the content box height. */
    -ms-flex: none;
    flex: none;
  }
  a.button.back::before,
  a.button.backTo::before {
    vertical-align: 52%;
    font-size: 11pt;
    margin-left: -17px;
  }
  .segmented.paging > .button {
    font-size: 20pt;
    width: 30px;
    height: 30px;
  }
  .segmented.paging > .button::before {
    height: 30px;
    width: 30px;
    line-height: 20pt;
    vertical-align: 50%;
    font-size: 20pt;
    margin: -4px 0 0 0;
  }
  .popover {
    height: 200px;
  }
  .switch:before {
    height: 12px !important;
  }
  .stepper > label {
    width: 28px;
    height: 26px;
    font: bold 14pt/20pt SegoeWP, SegoeUI, HelveticaNeue, Sans-serif;
  }
  .stepper > .button {
    font-size: 10pt;
    line-height: 14pt;
    height: 26px;
    padding: 1px 6px;
  }
}
/* ==============================
   Media Query Adjustments
   =========================== */
/* For small, narrow phones in portrait mode: */
@media only screen and (device-width: 480px) and (orientation: portrait) {
  .popover {
    width: 200px;
  }
  .popup {
    padding: 20px 10px;
  }
  .popup header > h1 {
    font-size: 14pt;
  }
  .splitlayout > nav:first-of-type {
    width: 150px;
  }
  .splitlayout > nav:last-of-type {
    left: 150px;
  }
  .splitlayout > article.master {
    width: 150px !important;
  }
  .splitlayout > article.detail {
    left: 150px !important;
  }
  .tabbar {
    display: -ms-flexbox;
    display: flex;
  }
  .tabbar > .button {
    font-size: 9pt;
    -ms-flex: 1;
    flex: 1;
  }
  .busy.align-flush {
    position: static;
  }
  .switch {
    height: 18px;
    width: 40px;
  }
  .switch > em {
    width: 12px;
    height: 18px;
  }
  .switch:before {
    height: 15px;
  }
  .switch.on > em {
    -ms-transform: translate3d(28px, 0, 0);
  }
  .switch.on:before {
    width: 26px;
  }
  .tabbar > .button > label {
    font-size: 8pt !important;
  }
  .tabbar > .button.more::before {
    font-size: 8pt;
  }
  .button.slide-out-button {
    top: 5px;
    left: 15px;
    height: 28px;
    width: 28px;
    margin-left: -5px !important;
  }
  .button.slide-out-button::before {
    height: 28px;
    width: 28px;
    font-size: 10pt;
    margin: -1px 0 0 -6px;
  }
}
/* For small, narrow phones in landscape mode: */
@media only screen and (device-width: 480px) and (orientation: landscape) {
  @-ms-viewport {
    width: 480px;
  }
  .splitlayout > nav:first-of-type {
    width: 200px;
  }
  .splitlayout > nav:last-of-type {
    left: 200px;
  }
  .splitlayout > article.master {
    width: 200px !important;
  }
  .splitlayout > article.detail {
    left: 200px !important;
  }
  .busy.align-flush {
    position: static;
  }
}
/* For normal phones in portrait mode: */
@media only screen and (device-width: 768px) and (orientation: portrait) {
  @-ms-viewport {
    width: 384px;
  }
}
/* For normal phones in landscape mode: */
@media only screen and (device-width: 768px) and (orientation: landscape) {
  @-ms-viewport {
    width: 512px;
  }
}
/* ============================== 
   Carousel styles
   =========================== */
#carousel {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #000000;
  border: solid 1px #ffffff;
}
.carousel-track {
  margin: 0;
  padding: 0;
}
.carousel-track > li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-left: solid 1px #ffffff;
  padding: 1px 1px 10px;
  -ms-user-select: none;
  -ms-touch-action: none;
}
.carousel-track > li.carousel-panel-active {
  border: none;
}
.pagination {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.pagination::after {
  content: '';
  display: block;
  clear: both;
}
.pagination > li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  background-color: #ffffff;
  margin-right: 5px;
}
.pagination > li:hover,
.pagination > li.selected {
  background-color: #007aff;
  cursor: pointer;
}
.pagination > li:last-of-type {
  margin-right: 0;
}
html[dir=rtl] .pagination > li {
  margin-right: 0;
  margin-left: 5px;
  padding: 0;
}
html[dir=rtl] .pagination > li:last-of-type {
  margin-left: 0;
}
.horizontal-scroll-panel {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: hidden !important;
  overflow-x: auto;
}
.horizontal-scroll-panel > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  font-size: 0;
}
.horizontal-scroll-panel > ul li {
  display: inline-block;
  border: solid 1px #666;
  box-shadow: 0 0 4px #666;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-right: 20px;
  font-size: 0;
}
.horizontal-scroll-panel > ul:first-of-type {
  margin-left: 0 !important;
}
.horizontal-scroll-panel > ul:last-of-type {
  margin-right: 0 !important;
}
body.isWindows .horizontal-scroll-panel {
  background-color: #333;
}
[dir=rtl] .horizontal-scroll-panel {
  margin-right: -20px;
  padding-right: 20px;
}
[dir=rtl] .horizontal-scroll-panel li {
  margin-right: 0 !important;
  margin-left: 20px !important;
  padding: 0;
}
[dir=rtl] .horizontal-scroll-panel li:first-of-type {
  margin-right: 0 !important;
}
[dir=rtl] .horizontal-scroll-panel li:last-of-type {
  margin-left: 0 !important;
}
[dir=rtl] body.isWindows .horizontal-scroll-panel li {
  float: right;
}
@media only screen and (max-device-width: 480px) {
  .horizontal-scroll-panel {
    height: 125px;
    padding: 10px;
  }
  .horizontal-scroll-panel li {
    height: 125px;
    width: 125px;
  }
}
