<article>
    <section>
        <h2>Offers</h2>
        <div class="searchBar">
            <input ng-model="query" type="search" placeholder="search" class="search-key">
        </div>        
        <ul class="list">
            <li ng-repeat="employee in employees | filter:query | orderBy:orderProp" class="comp" ng-click="go('/employees/' + employee.id)">
                <aside>
                    <a ng-click="go('/employees/' + employee.id)">                
                        <img ng-src="pics/{{employee.pic}}" height="80px"/>
                    </a>
                </aside>
                <div>            
                    <h3>{{employee.firstName}} {{employee.lastName}}</h3>
                    <h4>{{employee.title}}</h4>            
                </div>
                <aside>
                    <h4>Points {{employee.reports}}</h4>
                    <span class="show-detail"></span>            
                </aside>
            </li>
        </ul>        
    </section>
</article>