<!--
<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" href="" ng-click="back()">
            <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Employee</h1>
    </div>
</div>
-->


<article>
    <section>
        <ul class="list">
            <li class="show-detail">
                <img ng-src="pics/{{employee.pic}}" class="employee-image" height="100px">
                <h3>{{employee.firstName}} {{employee.lastName}}</h3>
                <h4>{{employee.title}}</h4>    
                <p>{{employee.city}}</p>
            </li>
        </ul>

<!--
        <div class='details'>
            <img ng-src="pics/{{employee.pic}}" class="employee-image">
            <h1>{{employee.firstName}} {{employee.lastName}}</h1>
            <h2>{{employee.title}}</h2>
            <h2>{{employee.city}}</h2>
            <div class="topcoat-list__container scroller">
                <ul class="topcoat-list list actions">
                    <li class="topcoat-list__item" ng-show="employee.managerId"><a ng-click="go('employees/' + employee.managerId)"><p>View Manager</p><p>{{employee.managerName}}</p><div class="action-icon icon-manager"/></a></li>
                    <li class="topcoat-list__item" ng-show="employee.reports"><a ng-click="go('employees/' + employee.id + '/reports')"><p>View Direct Reports</p><p>{{employee.reports}}</p><div class="action-icon icon-reports"/></a></li>
                    <li class="topcoat-list__item" ng-show="employee.officePhone"><a href="tel:{{employee.officePhone}}"><p>Call Office</p><p>{{employee.officePhone}}</p><div class="action-icon icon-call"/></a></li>
                    <li class="topcoat-list__item" ng-show="employee.cellPhone"><a href="tel:{{employee.cellPhone}}"><p>Call Cell</p><p>{{employee.cellPhone}}</p><div class="action-icon icon-call"/></a></li>
                    <li class="topcoat-list__item" ng-show="employee.cellPhone"><a href="sms:{{employee.cellPhone}}"><p>SMS</p><p>{{employee.cellPhone}}</p><div class="action-icon icon-sms"/></a></li>
                    <li class="topcoat-list__item" ng-show="employee.email"><a href="mailto:{{employee.email}}"><p>Email</p><p>{{employee.email}}</p><div class="action-icon icon-mail"/></a></li>
                </ul>
            </div>
        </div>        
        -->
    </section>    

</article>
                