  <nav>
    <h1>Demo</h1>
  </nav>
  <article id="main" class="current">
    <section>
      <ul class='list'>
        <li data-goto="segmented-article" class='nav comp'>
          <aside>
            <img height="80px" src="../images/music/Hurry and Harm.jpg" title="Hurry and Harm"/>
          </aside>
          <div>
            <h3>Imagine Dragons</h3>
            <h4>Radioactive</h4>
            <p>Lorem ipsum dolo sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
          </div>          
        </li>
        <li data-goto="select-article" class='nav'>
          <h3>Select List</h3>
        </li>
      </ul>
    </section>
   </article>