<nav class="current"><!-- needs current to display -->
    <h1>Select Offers</h1>
</nav>
<article>
    <section>
        <div id="toggle-panels">
            <h2>App Offers</h2>
            <div class="searchBar">
                <input ng-model="query" type="search" placeholder="search" class="search-key">
            </div>        
            <ul class="list">
                <li ng-repeat="offer in offers | filter:query | orderBy:orderProp" class="nav comp" ng-click="go('/offer/' + offer.offer_id)">
                    <aside>                    
                        <img ng-src="{{offer.offer_image}}" height="50"/>                    
                    </aside>
                    <div>            
                        <h3>{{offer.offer_name}}</h3>
                        <h4>{{offer.offer_conversions}}</h4>            
                    </div>
                    <aside>                                    
                        <!--<span class="show-detail"></span>            -->
                    </aside>
                </li>
            </ul>        
        </div>
    </section>
</article>