<nav class="current"><!-- needs current to display -->
	<a class='back'>Back</a>
    <h1>Detail Offer</h1>
    <button class='align-flush'>Edit</button>
</nav>
<article>
    <section>
        <ul class="list">
            <li class="show-detail">
                <img ng-src="{{offer.offer_image}}">
                <h3>{{offer.offer_name}}</h3>                
                <h4>{{offer.offer_description}}</h4>                    
                <p>__SHOW POINTS__</p>                
                <button class="action" ng-click="downloadButton.doClick(item, $event)">Click to Download</button>
                <p>__SHOW INSTRUCTIONS__</p>
            </li>
        </ul>        
    </section>    
</article>
                