<nav class="current"><!-- needs current to display -->
    <h1>Select Rewards</h1>
</nav>
<article>
    <section>
    <!--
        <div id="segmentedPanel" class="horizontal centered">
            <div id="mySegmented" class="segmented">
                <button role="radio" ng-click="go('/offers')">Offers</button>
                <button role="radio" ng-click="go('/rewards')">Rewards</button>
                <button role="radio" class="nav" data-goto="others">Invite</button>
                <button role="radio" ng-click="go('/settings')">Settings</button>
            </div>
        </div>
        -->
        <div id="toggle-panels">
            <h2>Rewards</h2>
            <div class="searchBar">
                <input ng-model="query" type="search" placeholder="search" class="search-key">
            </div>        
            <ul class="list">
                <li ng-repeat="reward in rewards | filter:query | orderBy:orderProp" class="comp" ng-click="go('/reward/' + reward.id)">
                    <aside>                    
                        <img ng-src="{{reward.image}}" height="80px"/>                    
                    </aside>
                    <div>            
                        <h3>{{reward.name}}</h3>
                        <h4>{{reward.conversions}}</h4>            
                    </div>
                    <aside>                                    
                        <!--<span class="show-detail"></span>            -->
                        <h3>{{reward.points}}</h3>
                    </aside>
                </li>
            </ul>        
        </div>
    </section>
</article>

<nav class="next">
    
</nav>
<article id="food" class="next navigable">
    <section><h2>Others NAV</h2></section>
</article>