<nav class="current"><!-- needs current to display -->
    <h1>Reward Detail</h1>
</nav>
<article>
    <section>
        <ul class="list">
            <li class="show-detail">
                <img ng-src="{{reward.image}}" class="employee-image" height="100px">
                <h3>{{reward.name}}</h3>
                <h4>{{reward.points}}</h4>                    
            </li>
        </ul>        
    </section>    
</article>
                