@font-face {
	font-family: Bebas;
	src: url('../fonts/BebasNeue.otf');
}

body{
    height:100%;
    width:100%;
    margin:0px;
    line-height: 1;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(top, #E6E6E6 0%, #F2F2F2 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #E6E6E6 0%, #F2F2F2 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, #E6E6E6 0%, #F2F2F2 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E6E6E6), color-stop(1, #F2F2F2));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #E6E6E6 0%, #F2F2F2 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to bottom, #E6E6E6 0%, #F2F2F2 100%);
}

.header{
    line-height: 1;
    height:50px;
    background: #3a6c9e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3a6c9e 20%, #004f99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#3a6c9e), color-stop(100%,#004f99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3a6c9e 20%,#004f99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3a6c9e 20%,#004f99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3a6c9e 20%,#004f99 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3a6c9e 20%,#004f99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6c9e', endColorstr='#004f99',GradientType=0 ); /* IE6-9 */
    font-family: 'Bebas', sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:40px;
    color:rgba(75,127,175,1);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding-top:5px;
}

.headerbox{
    -webkit-box-shadow: 0px 2px 22px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 22px 4px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 22px 4px rgba(0,0,0,0.5);
}

.titlecontainer{
    width:865px;
    margin-left: auto ;
    margin-right: auto ;
}
  
.box1{
    line-height: 1;
    margin: 0px auto;
    background:white;
    width:865px;
    height:50px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:50px;
    -moz-box-shadow:    0px 0px 8px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.1);
    box-shadow:         0px 0px 8px 4px rgba(0,0,0,0.1);
    border-style:solid;
    border-width:2px;
    border-color:#c3c3c3;
    background: #3a6c9e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3a6c9e 20%, #004f99 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#3a6c9e), color-stop(100%,#004f99)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3a6c9e 20%,#004f99 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3a6c9e 20%,#004f99 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3a6c9e 20%,#004f99 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3a6c9e 20%,#004f99 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a6c9e', endColorstr='#004f99',GradientType=0 ); /* IE6-9 */
    font-family: 'Bebas', sans-serif;
    -webkit-font-smoothing:antialiased;
    font-size:40px;
    color:white;
    padding-top:5px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    text-align:left;
}

.box2{
    margin: 0px auto;
    background:white;
    padding: 25px;
    width:865px;
    height:300px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:20px;
    -moz-box-shadow:    0px 0px 8px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.1);
    box-shadow:         0px 0px 8px 4px rgba(0,0,0,0.1);
    border-style:solid;
    border-width:2px;
    border-color:#c3c3c3;
}

.box3{
    margin: 0px auto;
    background:white;
    width:865px;
    height:200px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top:20px;
    -moz-box-shadow:    0px 0px 8px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.1);
    box-shadow:         0px 0px 8px 4px rgba(0,0,0,0.1);
    border-style:solid;
    border-width:2px;
    border-color:#c3c3c3;
    padding:25px;
}


#table1{
    padding-left:58px;
    float:left;
}
#table2{
    float:left;
    margin-right:50px;
    margin-left:50px;
}
#table3{
    float:left;
}
.progress{
    margin-bottom: 0px !important;
}
.waitingScan{
    font-size:10px;
}
.progress-bar{
    padding: 1px 0 0 3px;
}
.foundNothing{
    padding: 5px;
}

.info{
    width:400px;
    float:left;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}

.classname {
    -moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
    box-shadow:inset 0px 1px 0px 0px #cae3fc;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color:#79bbff;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:2px solid #469df5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:50px;
    font-weight:bold;
    font-style:normal;
    height:100px;
    line-height:50px;
    width:397px;
    text-decoration:none;
    text-align:center;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    -moz-box-shadow:    1px 0px 5px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    box-shadow:         0px 0px 5px 2px rgba(0,0,0,0.2);
    margin-top: 30px;
}

.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
	color:#ffffff;
	text-decoration:none;
}

.classname:active {
	position:relative;
	top:1px;
}

.leftcontent {
    margin-top:10px;
    float:left;
    width:400px;
}

#offers{
    display: none;
    margin: 0px auto;
    margin-top: 10px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    min-height: 20px;
    padding: 6px;
}

.offer{
    margin: 2px 0;
    padding: 2px;
    white-space:nowrap;
}

.olink, .olink:link{
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    font-weight: normal;
    text-decoration:none; 
}

.olink:hover{
    background-position: 0 -15px;
    transition: background-position 0.1s linear 0s;
}

.rightcontent {
    float:left;
    margin-left:35px;
    width:373px;
    text-align:left;
}

.stepbox{
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-style:solid;
    border-width:2px;
    border-color:#c3c3c3;
    background-color:#eaeaea;
    padding:10px;
    font-family: 'Lato', sans-serif;
    line-height:25px;
    -webkit-font-smoothing:antialiased;
    font-size:20px;
    margin-top:10px;
}