/* Swatches */

/* A
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-a {
	border: 1px solid rgba(0,0,0,0) /*{a-bar-border}*/;
	background: #2d2832 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
	background-repeat: repeat-x;
	background-size: 298px 100%;
	border-top: 0px;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4), inset 0px -1px 0px rgba(0,0,0,0.35), 5px 0px 0px black, -5px 0px 0px black, 0px 2px 2px rgba(0,0,0,0.4) !important;
}
.ui-bar-a .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}

.ui-bar-a a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}

.ui-bar-a a.ui-link:hover {
	color: #2489ce /*{a-bar-link-hover}*/;
}

.ui-bar-a a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	 font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a,
.ui-overlay-a {
	border: 1px solid #b8b6b1 /*{a-body-border}*/;
	color: #201c25 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #ffffff /*{a-body-shadow-color}*/;
	background: #d9d8d0 /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d9d6d0 /*{a-body-background-start}*/), to( #d9d6d0 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d9d6d0 /*{a-body-background-start}*/, #d9d6d0 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d9d6d0 /*{a-body-background-start}*/, #d9d6d0 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d9d6d0 /*{a-body-background-start}*/, #d9d6d0 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d9d6d0 /*{a-body-background-start}*/, #d9d6d0 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d9d6d0 /*{a-body-background-start}*/, #d9d6d0 /*{a-body-background-end}*/);
}
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	 font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-btn-up-a {
	border: 1px solid #b8b6b1;
	background: #f7f7f7;
	font-weight: bold;
	font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #000000;
	text-shadow: 0 1px 0 #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF), to( #dedede));
	background-image: -webkit-linear-gradient( #FFFFFF, #dedede);
	background-image:    -moz-linear-gradient( #FFFFFF, #dedede);
	background-image:     -ms-linear-gradient( #FFFFFF, #dedede);
	background-image:      -o-linear-gradient( #FFFFFF, #dedede);
	background-image:         linear-gradient( #FFFFFF, #dedede);
}
.ui-btn-up-a:visited,
.ui-btn-up-a a.ui-link-inherit {
	color: black /*{a-bup-color}*/;
}
.ui-btn-hover-a, .ui-btn-active {
	border: 1px solid #b8b6b1 /*{a-bhover-border}*/;
	background: #FFFFFF /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: black /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #eeeeee /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{a-bhover-background-start}*/), to( #e5e5e5 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5e5 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5e5 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5e5 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5e5 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{a-bhover-background-start}*/, #e5e5e5 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a:visited,
.ui-btn-hover-a:hover,
.ui-btn-hover-a a.ui-link-inherit {
	color: #000000 /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid #b8b6b1 /*{a-bdown-border}*/;
	background: #FFFFFF /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: black /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #eeeeee /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e5e5e5 /*{a-bdown-background-start}*/), to( #FFFFFF /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e5e5e5 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e5e5e5 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e5e5e5 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e5e5e5 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e5e5e5 /*{a-bdown-background-start}*/, #FFFFFF /*{a-bdown-background-end}*/);
}
.ui-btn-down-a:visited,
.ui-btn-down-a:hover,
.ui-btn-down-a a.ui-link-inherit {
	color: black /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	 font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* B
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-b {
	border: #560000 solid 2px /*{b-bar-border}*/;
	background: #d80f0f /*{b-bar-background-color}*/;
	color: #ffffff /*{b-bar-color}*/;
	font-weight: bold;
	font-size: 15px !important;
	text-shadow: 0 -1px 0px #590101;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #c60202 /*{b-bar-background-start}*/), to( #b40101 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #c60202 /*{b-bar-background-start}*/, #b40101 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #c60202 /*{b-bar-background-start}*/, #b40101 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #c60202 /*{b-bar-background-start}*/, #b40101 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #c60202 /*{b-bar-background-start}*/, #b40101 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #c60202 /*{b-bar-background-start}*/, #b40101 /*{b-bar-background-end}*/);
	box-shadow: 0px 1px 0px #560000, inset 0px 1px 0px #fc0505;
}
.ui-bar-b .ui-link-inherit {
	color: #ffffff /*{b-bar-color}*/;
}

.ui-bar-b a.ui-link {
	color: #7cc4e7 /*{b-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-b a.ui-link:visited {
    color: #2489ce /*{b-bar-link-visited}*/;
}

.ui-bar-b a.ui-link:hover {
	color: #2489ce /*{b-bar-link-hover}*/;
}

.ui-bar-b a.ui-link:active {
	color: #2489ce /*{b-bar-link-active}*/;
}

.ui-bar-b,
.ui-bar-b input,
.ui-bar-b select,
.ui-bar-b textarea,
.ui-bar-b button {
	 font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b,
.ui-overlay-b {
	border: 1px solid #b8b6b1 /*{b-body-border}*/;
	color: #201c25 /*{b-body-color}*/;
	text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ #ffffff /*{b-body-shadow-color}*/;
	background: #e3e3e3 /*{b-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #d9d6d0 /*{b-body-background-start}*/), to( #d9d6d0 /*{b-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #d9d6d0 /*{b-body-background-start}*/, #d9d6d0 /*{b-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #d9d6d0 /*{b-body-background-start}*/, #d9d6d0 /*{b-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #d9d6d0 /*{b-body-background-start}*/, #d9d6d0 /*{b-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #d9d6d0 /*{b-body-background-start}*/, #d9d6d0 /*{b-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #d9d6d0 /*{b-body-background-start}*/, #d9d6d0 /*{b-body-background-end}*/);
}
.ui-overlay-b {
	background-image: none;
	border-width: 0;
}
.ui-body-b,
.ui-body-b input,
.ui-body-b select,
.ui-body-b textarea,
.ui-body-b button {
	 font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-b .ui-link-inherit {
	color: #201c25 /*{b-body-color}*/;
}

.ui-body-b .ui-link {
	color: #c30202 /*{b-body-link-color}*/;
	font-weight: bold;
}

.ui-body-b .ui-link:visited {
    color: #2489ce /*{b-body-link-visited}*/;
}

.ui-body-b .ui-link:hover {
	color: #2489ce /*{b-body-link-hover}*/;
}

.ui-body-b .ui-link:active {
	color: #2489ce /*{b-body-link-active}*/;
}

.ui-btn-up-b {
	border: 1px solid #f7f7f7 /*{b-bup-border}*/;
	background: #f7f7f7 /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #000000 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #eeeeee /*{b-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{b-bup-background-start}*/), to( #dedede /*{b-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{b-bup-background-start}*/, #dedede /*{b-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{b-bup-background-start}*/, #dedede /*{b-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{b-bup-background-start}*/, #dedede /*{b-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{b-bup-background-start}*/, #dedede /*{b-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{b-bup-background-start}*/, #dedede /*{b-bup-background-end}*/);
}
.ui-btn-up-b:visited,
.ui-btn-up-b a.ui-link-inherit {
	color: #000000 /*{b-bup-color}*/;
}
.ui-btn-hover-b {
	border: 1px solid #FFFFFF /*{b-bhover-border}*/;
	background: #FFFFFF /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #000000 /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #eeeeee /*{b-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{b-bhover-background-start}*/), to( #e5e5e5 /*{b-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5e5 /*{b-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5e5 /*{b-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5e5 /*{b-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5e5 /*{b-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFFFFF /*{b-bhover-background-start}*/, #e5e5e5 /*{b-bhover-background-end}*/);
}
.ui-btn-hover-b:visited,
.ui-btn-hover-b:hover,
.ui-btn-hover-b a.ui-link-inherit {
	color: #000000 /*{b-bhover-color}*/;
}
.ui-btn-down-b {
	border: 1px solid #FFFFFF /*{b-bdown-border}*/;
	background: #FFFFFF /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #000000 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #eeeeee /*{b-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e5e5e5 /*{b-bdown-background-start}*/), to( #FFFFFF /*{b-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e5e5e5 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e5e5e5 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e5e5e5 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e5e5e5 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e5e5e5 /*{b-bdown-background-start}*/, #FFFFFF /*{b-bdown-background-end}*/);
}
.ui-btn-down-b:visited,
.ui-btn-down-b:hover,
.ui-btn-down-b a.ui-link-inherit {
	color: #000000 /*{b-bdown-color}*/;
}
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b {
	 font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}


/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid #b8b6b1;
	border-color: #b8b6b1;
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 6px /*{global-radii-blocks}*/;
	border-top-left-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 6px /*{global-radii-blocks}*/;
	border-top-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 6px /*{global-radii-blocks}*/;
	border-top-left-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 6px /*{global-radii-blocks}*/;
	border-top-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 6px /*{global-radii-blocks}*/;
	border-top-right-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 6px /*{global-radii-blocks}*/;
	border-top-left-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 6px /*{global-radii-blocks}*/;
	-webkit-border-radius: 6px /*{global-radii-blocks}*/;
	border-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}



/* Structure */

/* links within "buttons" 
-----------------------------------------------------------------------------------------------------------*/

a.ui-link-inherit {
	text-decoration: none !important;
}


/* Active class used as the "on" state across all themes
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active:visited,
.ui-btn-active:hover,
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}


/* button inner top highlight
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-inner {
	border-top: 1px solid 	#fff;
	border-color: 			rgba(255,255,255,.3);
}


/* corner rounding classes
-----------------------------------------------------------------------------------------------------------*/

.ui-corner-tl {
	-moz-border-radius-topleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 6px /*{global-radii-blocks}*/;
	border-top-left-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-tr {
	-moz-border-radius-topright: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 6px /*{global-radii-blocks}*/;
	border-top-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-bl {
	-moz-border-radius-bottomleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-br {
	-moz-border-radius-bottomright: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-top {
	-moz-border-radius-topleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 6px /*{global-radii-blocks}*/;
	border-top-left-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-topright: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 6px /*{global-radii-blocks}*/;
	border-top-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	}
.ui-corner-right {
	-moz-border-radius-topright: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-right-radius: 6px /*{global-radii-blocks}*/;
	border-top-right-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-bottomright: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-right-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-left {
	-moz-border-radius-topleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-top-left-radius: 6px /*{global-radii-blocks}*/;
	border-top-left-radius: 6px /*{global-radii-blocks}*/;
	-moz-border-radius-bottomleft: 6px /*{global-radii-blocks}*/;
	-webkit-border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
	border-bottom-left-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-all {
	-moz-border-radius: 6px /*{global-radii-blocks}*/;
	-webkit-border-radius: 6px /*{global-radii-blocks}*/;
	border-radius: 6px /*{global-radii-blocks}*/;
}
.ui-corner-none {
	-moz-border-radius: 				   0;
	-webkit-border-radius: 				   0;
	border-radius: 						   0;
}

/* Form field separator
-----------------------------------------------------------------------------------------------------------*/
.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Interaction cues
-----------------------------------------------------------------------------------------------------------*/
.ui-disabled {
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.ui-disabled,
.ui-disabled a {
	cursor: default !important;
	pointer-events: none;
}


/* Button corner classes
-----------------------------------------------------------------------------------------------------------*/

.ui-btn-corner-tl {
	-moz-border-radius-topleft: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.8em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-tr {
	-moz-border-radius-topright: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.8em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bl {
	-moz-border-radius-bottomleft: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.8em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-br {
	-moz-border-radius-bottomright: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.8em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-top {
	-moz-border-radius-topleft: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.8em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.8em /*{global-radii-buttons}*/;
	-moz-border-radius-topright: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.8em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-bottom {
	-moz-border-radius-bottomleft: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.8em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.8em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.8em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-right {
	 -moz-border-radius-topright: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-top-right-radius: 0.8em /*{global-radii-buttons}*/;
	border-top-right-radius: 0.8em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomright: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-bottom-right-radius: 0.8em /*{global-radii-buttons}*/;
	border-bottom-right-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-left {
	-moz-border-radius-topleft: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-top-left-radius: 0.8em /*{global-radii-buttons}*/;
	border-top-left-radius: 0.8em /*{global-radii-buttons}*/;
	-moz-border-radius-bottomleft: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-bottom-left-radius: 0.8em /*{global-radii-buttons}*/;
	border-bottom-left-radius: 0.8em /*{global-radii-buttons}*/;
}
.ui-btn-corner-all {
	-moz-border-radius: 0.8em /*{global-radii-buttons}*/;
	-webkit-border-radius: 0.8em /*{global-radii-buttons}*/;
	border-radius: 0.8em /*{global-radii-buttons}*/;
}

/* radius clip workaround for cleaning up corner trapping */
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-all,
.ui-btn-corner-tl,
.ui-btn-corner-tr,
.ui-btn-corner-bl,
.ui-btn-corner-br,
.ui-btn-corner-top,
.ui-btn-corner-bottom,
.ui-btn-corner-right,
.ui-btn-corner-left,
.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

/* Overlay / modal
-----------------------------------------------------------------------------------------------------------*/

.ui-overlay {
	background: #666;
	filter: Alpha(Opacity=50);
	opacity: .5;
	position: absolute;
	width: 100%;
	height: 100%;
}
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-shadow {
	box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
}
.ui-select .ui-shadow {
	box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
}
.ui-bar-a .ui-shadow,
.ui-bar-b .ui-shadow ,
.ui-bar-c .ui-shadow  {
	-moz-box-shadow: 0px 1px 0 				rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 			rgba(255,255,255,.3);
	box-shadow: 0px 1px 0 					rgba(255,255,255,.3);
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px 		rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px 	rgba(0,0,0,.2);
	box-shadow: inset 0px 1px 4px 			rgba(0,0,0,.2);
}


/* Focus state - set here for specificity (note: these classes are added by JavaScript)
-----------------------------------------------------------------------------------------------------------*/

.ui-btn:focus, .ui-link-inherit:focus {
	outline: 0;
}
.ui-btn.ui-focus {
	z-index: 1;
}
.ui-focus,
.ui-btn:focus {
	-moz-box-shadow: inset 0px 0px 3px #d80f0f /*{global-active-background-color}*/, 0px 0px 9px #d80f0f /*{global-active-background-color}*/;
	-webkit-box-shadow: inset 0px 0px 3px #d80f0f /*{global-active-background-color}*/, 0px 0px 9px #d80f0f /*{global-active-background-color}*/;
	box-shadow: inset 0px 0px 3px #d80f0f /*{global-active-background-color}*/, 0px 0px 9px #d80f0f /*{global-active-background-color}*/;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
	-moz-box-shadow: 0px 0px 12px #d80f0f /*{global-active-background-color}*/;
	-webkit-box-shadow: 0px 0px 12px #d80f0f /*{global-active-background-color}*/;
	box-shadow: 0px 0px 12px #d80f0f /*{global-active-background-color}*/;	
}

/* unset box shadow in browsers that don't do it right
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile-nosupport-boxshadow * {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/* ...and bring back focus */
.ui-mobile-nosupport-boxshadow .ui-focus,
.ui-mobile-nosupport-boxshadow .ui-btn:focus,
.ui-mobile-nosupport-boxshadow .ui-link-inherit:focus {
	outline-width: 1px;
	outline-style: auto;
}