/*
    pO\
   6  /\
     /OO\
    /OOOO\
   /OOOOOO\
  (OOOOOOOO)
   \:~==~:/

ChocolateChip-UI
ChUI-iOS.css
Copyright 2014 Sourcebits www.sourcebits.com
License: MIT
Version: 3.8.0
*/
/*
  To create a custom theme, uncomment the second of each of the following, then adjust the color for @primaryColor. If you want a secondary color, uncomment the line for @secondaryColor and set it's value to what you want.
*/
.attentionGrapper {
  color: #007aff !important;
}
/* 
  Flex parameters:
  #flex > .display(<flex> | <inline-flex>);
  #flex > .flex-direction(row | row-reverse | column | column-reverse);
  #flex > .justify-content(flex-start | flex-end | center | space-between | space-around);
  #flex > .align-content(flex-start | flex-end | center | space-between | space-around | stretch);
  #fkex > .flex(none | [ <flex-grow> <flex-shrink> | <flex-basis> ]);
*/
/* ==============================
   Typography
   =========================== */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
span,
ul,
ol,
li,
pre,
blockquote,
article,
section,
nav,
aside,
header,
footer,
address,
dl,
tdt,
dd,
figure,
figcaption,
a,
em,
strong,
abbr,
time,
code,
sup,
sub,
i,
b,
u,
ruby,
table,
thead,
tbody,
th,
tr,
td,
label,
input,
button,
select,
option,
textarea,
menu,
body {
  font-family: -apple-system-font;
  -webkit-font-smoothing: antialiased;
}
/* ==============================
   Body
   =========================== */
html,
body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
body {
  background-color: #efeff4;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 1em;
  line-height: 1.5;
}
body.isDesktop {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
}
body.isDesktop h1,
body.isDesktop h2,
body.isDesktop h3,
body.isDesktop h4,
body.isDesktop h5,
body.isDesktop p {
  font-family: "Helvetica Neue", HelveticaNeue;
}
h1 {
  font: -apple-system-headline1 !important;
  font-weight: 100;
  font-size: 1.25em;
}
h2 {
  font: -apple-system-headline2 !important;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}
h3 {
  font: -apple-system-subheadline1 !important;
  font-size: 1em;
  font-weight: 400 !important;
}
h4 {
  font: -apple-system-subheadline2 !important;
  font-size: 1em;
  font-weight: 400 !important;
}
h5 {
  font: -apple-system-subheadline2 !important;
  font-size: 1em;
  font-weight: 400 !important;
}
p {
  font: -apple-system-footnote !important;
}
cite {
  font: -apple-system-caption1;
}
figure {
  font: -apple-system-figure;
}
/* ==============================
   Article (view)
   =========================== */
article {
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.hide-navbars article {
  top: 0;
}
.isStandalone article {
  top: 65px;
}
.isStandalone .hide-navbars article {
  top: 20px;
}
@media only screen and (min-width: 768px) {
  article {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
}
/* ==============================
   Article navigation states
   =========================== */
.current {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.next {
  -webkit-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
  opacity: 1;
  visibility: visible;
}
.previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 1;
  visibility: visible;
}
html[dir=rtl] .current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] .next {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
html[dir=rtl] .previous {
  -webkit-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
/* ==============================
   Scrollers
   =========================== */
.scroller-vertical,
.scroller-horizontal {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scroller-horizontal {
  overflow-x: hidden;
  overflow-y: auto;
}
article > section,
.slide-out > section {
  padding-top: 20px;
  padding-bottom: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100% !important;
}
/* ==============================
   Horizontal Panels
   =========================== */
.vertical,
li.comp > aside.vertical {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.horizontal {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.horizontal.centered {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* ============================== 
   Buttons
   =========================== */
button {
  border: none;
  background: none;
  display: block;
  cursor: pointer;
  text-decoration: none;
  font: -apple-system-caption1;
  font-size: 13pt;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-box-sizing: auto;
  box-sizing: auto;
  padding: 8px 0px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  text-align: center;
  color: #007aff;
  border-color: #007aff;
  background-color: rgba(255, 255, 255, 0.01);
  -webkit-font-smoothing: antialiased;
}
.isDesktop button:hover {
  cursor: pointer;
  opacity: .5 !important;
}
button.back,
button.backTo {
  margin: 0;
  text-align: left;
  padding: 0 0 0 20px !important;
  line-height: 28px;
  color: #007aff;
  border: none;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block !important;
  height: 30px;
}
button.back::before,
button.backTo::before {
  display: block;
  content: '';
  border: solid 1px transparent;
  background-color: #007aff;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20version%3D'1.1'%20width%3D'21'%20height%3D'35'%20viewBox%3D'0%200%2021%2035'%20id%3D'svg2'%3E%3Cdefs%20id%3D'defs8'%20/%3E%3Cg%20transform%3D'translate%28-2.1355929,0.0677963%29'%20id%3D'Page-1'%20style%3D'fill%3Anone%3Bstroke%3Anone'%3E%3Cpath%20d%3D'M%2021.353814,1.2365445%205.0903576,17.5%2021.353814,33.763456'%20id%3D'Rectangle-1'%20style%3D'stroke%3A%23000%3Bstroke-width%3A3'%20/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-position: left center;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  position: absolute;
  left: -4px;
  top: 4px;
}
button.action {
  color: #585d63;
  border: solid 1px #585d63;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  height: auto;
  min-width: 200px;
  max-width: 300px;
}
nav > button {
  max-width: 100px;
}
button.align-flush .toolbar > button.align-flush {
  position: absolute;
  right: 15px;
  margin-right: 0 !important;
  z-index: 100;
  top: 3px;
}
.isDesktopSafari button.back {
  margin-top: 2px !important;
}
.isDesktopSafari button.back::before {
  top: 3px;
}
.isDesktop button {
  font: "Helvetica Neue", HelveticaNeue, sans-serif;
}
.isiOS button.back,
.isiOS button.backTo .isSafari6 button.back,
.isSafari6 button.backTo {
  display: -webkit-box;
  margin-top: 0;
}
html[dir=rtl] button.align-flush {
  right: auto;
  left: 15px;
}
html[dir=rtl] button.back,
html[dir=rtl] button.backTo {
  padding: 0 20px 0 0 !important;
}
html[dir=rtl] button.back::before,
html[dir=rtl] button.backTo::before {
  -webkit-transform: rotate(180deg);
  right: -4px;
  left: auto;
}
html[dir=rtl] .toolbar > button.align-flush {
  right: auto;
  left: 15px;
}
/* ==============================
   Nav Bars
   =========================== */
#global-nav {
  background-color: #f7f7f7;
  border-bottom: solid 1px #a7a7aa;
  overflow: hidden;
}
nav {
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  padding: 0 15px;
  vertical-align: middle;
}
nav > button,
nav > div > button {
  color: #007aff;
}
nav > h1 {
  text-align: center;
  display: inline-block;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  font: normal 12pt/14pt HelveticaNeue, Sans-serif;
  position: absolute;
  top: 0;
  left: 100px;
  right: 100px;
  z-index: -1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}
nav > h1 + button {
  margin: 0;
  position: absolute;
  right: 15px;
  top: 3px;
}
nav > button + h1 {
  left: 120px;
  right: 120px;
}
.isStandalone nav {
  top: 20px;
}
.isStandalone #global-nav {
  height: 65px;
  top: 0;
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  nav > button + h1 {
    left: 115px;
    right: 115px;
  }
}
@media only screen and (max-device-width: 320px) and (orientation: landscape) {
  nav > button + h1 {
    left: 150px;
    right: 150px;
  }
}
/* ==============================
   Lists (Basic)
   =========================== */
.list {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px #c8c8c8;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
}
.list > li {
  padding: 13px 15px 13px 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  background-color: #ffffff;
  font-size: 12pt;
}
.list > li::before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 0px;
  border-bottom: solid 1px #c8c8c8;
}
.list > li:last-of-type::before {
  border-bottom: none;
}
.list > li.nav::after {
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  border-right: solid 2px #c7c7cc;
  border-top: solid 2px #c7c7cc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
  position: absolute;
  top: 16px;
  right: 15px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.list > li.show-detail::after {
  display: block;
  content: 'i';
  width: 22px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #007aff;
  color: #007aff;
  font: bold 14px/0 'Times', serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.list + p,
.list + p + p {
  color: #7f7f7f;
}
.list ~ p {
  margin: 0 15px;
}
.list ~ p + p {
  margin-top: 5pt;
}
/* ==============================
   List Footer
  ============================ */
.list + p,
.list + p + p {
  color: #7f7f7f;
}
.list ~ p {
  margin: 0 15px;
}
.list ~ p + p {
  margin-top: 5pt;
}
/* ==============================
   List Hover & Selected States
  ============================ */
.isDesktop .list > li[data-goto]:hover,
.isDesktop .list > li[data-show-article]:hover,
.isDesktop .list.select > li:hover,
.list > li.selected {
  background-color: #d9d9d9;
  cursor: pointer;
}
/* ==============================
  List title & subtitle
  ============================ */
.list > li > h3,
.list > li > h4 {
  width: 80%;
  font-weight: 200;
  margin: 0;
}
.list > li h4 {
  line-height: 14pt;
  color: #7f7f7f;
}
.list > li > h4,
.list > li > div > h4 {
  margin: 0;
}
.list > li > aside > h4 {
  margin: 0;
  font-weight: normal;
  color: #7f7f7f;
}
/* ==============================
  List detail
  ============================ */
.list h3,
.list h4,
.list p {
  pointer-events: none;
}
.list > li > p {
  margin: 6px 0px;
  color: #7f7f7f;
}
.list > li > p + p {
  margin-top: 6px;
}
.list > li.comp > div > p {
  margin: 0;
  color: #7f7f7f;
}
/* ==============================
  List header
  ============================ */
section h2 {
  font-weight: normal;
  font-size: 11pt;
  line-height: 12pt;
  color: #4d4d4d;
  margin: 10px 0 6px 15px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #7f7f7f;
}
section h2.normal-case {
  text-transform: none;
}
section h2.wrap {
  white-space: normal;
}
html[dir=rtl] section h2 {
  margin: 26px 15px 6px 0;
}
html[dir=rtl] .list li {
  padding: 13px 15px 13px 5px;
}
html[dir=rtl] .list li::before {
  left: 0px;
  right: 15px;
}
html[dir=rtl] .list li.nav::after {
  right: auto;
  top: 20px;
  left: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
html[dir=rtl] .list li.show-detail::after {
  left: 10px;
  right: auto;
}
html[dir=rtl] .list li.nav::after {
  left: 15px;
  right: auto;
}
/* ==============================
   Comp List Items
   =========================== */
.list > li.comp::before {
  content: none;
}
li.comp {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding-bottom: 0;
}
li.comp > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  border-bottom: solid 1px #c8c8c8;
  padding: 0 0 10px 0;
  margin-left: 0;
}
li.comp > div > h3,
li.comp > div > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 200;
  margin: 0;
  color: #2d2d2d;
}
li.comp > div + aside {
  margin-right: -15px;
}
li.comp > aside {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  padding: 0 0 10px 0;
}
li.comp > aside:first-child {
  -webkit-box-align: start;
}
li.comp > aside > label,
li.comp > aside > span {
  display: inline-block;
  margin-left: 6px;
}
li.comp > aside > .nav {
  display: block;
  width: 12px;
  height: 12px;
}
li.comp > aside > .nav::after {
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  border-right: solid 2px #c7c7cc;
  border-top: solid 2px #c7c7cc;
  -webkit-transform: rotate(45deg) translate3d(4px, 0, 0);
  transform: rotate(45deg) translate3d(4px, 0, 0);
}
li.comp > aside > .show-detail {
  display: inline-block;
  margin-bottom: -4px;
}
li.comp > aside > .show-detail::after {
  display: block;
  content: 'i';
  width: 22px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #007aff;
  color: #007aff;
  font: bold 14px/0 'Times', serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  float: right;
  margin: 0px 10px 0 0 !important;
}
li.comp > aside:first-child {
  margin-right: 10px;
}
li.comp > aside:last-child {
  padding: 0 10px 10px 10px;
  border-bottom: solid 1px #c8c8c8;
}
li.comp > aside > span.counter,
li.comp > aside > span.date-time {
  font-weight: normal;
  color: #2d2d2d;
  font-size: 1em;
}
li.comp:last-of-type > aside:last-child {
  border: none;
}
li.comp:last-of-type > div {
  border: none;
}
li.comp.wrap > div > h3,
li.comp.wrap > div > h4 {
  white-space: wrap;
  overflow: visible;
}
html[dir=rtl] li.comp {
  padding-bottom: 0 !important;
}
html[dir=rtl] li.comp > aside > .nav::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
html[dir=rtl] li.comp > aside:first-child {
  margin-left: 10px;
  margin-right: 0;
}
html[dir=rtl] li.comp > aside:last-child {
  padding: 0 10px 0 0;
}
html[dir=rtl] li.comp > aside:last-child > .nav::after {
  margin-left: -10px !important;
}
html[dir=rtl] li.comp > aside > span.counter,
html[dir=rtl] li.comp > aside > span.date-time {
  margin-right: 5px;
  margin-left: 0px;
}
html[dir=rtl] li.comp > aside > h4 {
  padding-bottom: 4px;
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  li.comp > aside > h4 {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* ==============================
   Grids
   =========================== */
/* Grid: */
.grid {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-align-items: stretch;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
/* Allow columns to wrap */
.grid.wrap {
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Column: */
.col {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* Centered grids: */
.grid.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.center .col {
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-grow: 0;
  -ms-flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* Columns: */
.flex-1 {
  -webkit-flex-basis: 10%;
  -ms-flex-basis: 10%;
  flex-basis: 10%;
}
.flex-2 {
  -webkit-flex-basis: 20%;
  -ms-flex-basis: 20%;
  flex-basis: 20%;
}
.flex-3 {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}
.flex-4 {
  -webkit-flex-basis: 40%;
  -ms-flex-basis: 40%;
  flex-basis: 40%;
}
.flex-5 {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}
.flex-6 {
  -webkit-flex-basis: 60%;
  -ms-flex-basis: 60%;
  flex-basis: 60%;
}
.flex-7 {
  -webkit-flex-basis: 70%;
  -ms-flex-basis: 70%;
  flex-basis: 70%;
}
.flex-8 {
  -webkit-flex-basis: 80%;
  -ms-flex-basis: 80%;
  flex-basis: 80%;
}
.flex-9 {
  -webkit-flex-basis: 90%;
  -ms-flex-basis: 90%;
  flex-basis: 90%;
}
.flex-10 {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}
.gutter-5 .col {
  margin: 5px;
}
.gutter-10 .col {
  margin: 10px;
}
body.isNativeAndroidBrowser .flex-1 {
  -webkit-box-flex: 1;
}
body.isNativeAndroidBrowser .flex-2 {
  -webkit-box-flex: 2;
}
body.isNativeAndroidBrowser .flex-3 {
  -webkit-box-flex: 3;
}
body.isNativeAndroidBrowser .flex-4 {
  -webkit-box-flex: 4;
}
body.isNativeAndroidBrowser .flex-5 {
  -webkit-box-flex: 5;
}
body.isNativeAndroidBrowser .flex-6 {
  -webkit-box-flex: 6;
}
body.isNativeAndroidBrowser .flex-7 {
  -webkit-box-flex: 7;
}
body.isNativeAndroidBrowser .flex-8 {
  -webkit-box-flex: 8;
}
body.isNativeAndroidBrowser .flex-9 {
  -webkit-box-flex: 9;
}
body.isNativeAndroidBrowser .flex-10 {
  -webkit-box-flex: 10;
}
html[dir=rtl] .grid {
  -webkit-box-direction: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* ==============================
   Segmented Control
   =========================== */
.segmented:not(.paging) {
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.segmented:not(.paging) > button {
  display: block;
  border: solid 1px #007aff;
  padding: 4px 15px;
  margin: 0;
  border-left: none;
  background-color: rgba(255, 255, 255, 0.65);
  width: auto;
  overflow-x: hidden;
  -webkit-transition: none;
  transition: none;
  font-size: 10pt;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  text-align: center;
  color: #007aff;
}
.segmented:not(.paging) > button:first-of-type {
  border-left: solid 1px #007aff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.segmented:not(.paging) > button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.isDesktop .segmented:not(.paging) > button:hover,
.segmented:not(.paging) > button.selected {
  color: #ffffff;
  background-color: #007aff;
  opacity: 1 !important;
}
div.horizontal.centered > .segmented {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin: 10px 15px;
}
.segmented.align-flush {
  position: absolute;
  right: 15px;
  top: 6px;
}
html[dir=rtl] .segmented.align-flush {
  position: absolute;
  right: auto;
  left: 15px;
  top: 6px;
}
html[dir=rtl] .segmented button:first-of-type {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
html[dir=rtl] .segmented button:last-of-type {
  border-left: solid 1px #007aff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* ==============================
   Segmented Paging Control
   =========================== */
.segmented.paging,
.segmented.paging.vertical {
  -webkit-box-orient: horizontal !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}
.segmented.paging > button,
.segmented.paging.vertical > button {
  border: none;
  background: none !important;
  color: #007aff;
  width: 30px;
  height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border-radius: 0 !important;
  border: none !important;
}
.isDesktop .segmented.paging > button:hover,
.isDesktop .segmented.paging.vertical > button:hover,
.segmented.paging > button.selected,
.segmented.paging.vertical > button.selected {
  opacity: .5 !important;
  color: #007aff;
  background-color: transparent !important;
}
.segmented.paging > button::before,
.segmented.paging.vertical > button::before {
  display: block;
  content: '';
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: 50% 50%;
  background-color: #007aff;
}
.segmented.paging.horizontal > .button:first-of-type::before,
.segmented.paging.horizontal > button:first-of-type::before {
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20id%3D'svg2'%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20x%3D'0px'%20y%3D'0px'%20width%3D'48px'%20height%3D'48px'%20viewBox%3D'0%200%2048%2048'%20enable-background%3D'new%200%200%2048%2048'%20xml%3Aspace%3D'preserve'%3E%3Cg%20id%3D'g4'%3E%3C/g%3E%3Cg%20id%3D'layer2'%3E%3Cpath%20id%3D'path7'%20d%3D'M28.038,8.381l2.674,2.599L18.545,23.146l12.086,12.086l-2.593,2.679L17.909,27.782l-4.636-4.636l4.636-4.636%20L28.038,8.381z'/%3E%3C/g%3E%3C/svg%3E");
}
.segmented.paging.horizontal > .button:last-of-type::before,
.segmented.paging.horizontal > button:last-of-type::before {
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20id%3D'svg2'%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20x%3D'0px'%20y%3D'0px'%20width%3D'48px'%20height%3D'48px'%20viewBox%3D'0%200%2048%2048'%20enable-background%3D'new%200%200%2048%2048'%20xml%3Aspace%3D'preserve'%3E%3Cg%20id%3D'g4'%3E%3C/g%3E%3Cg%20id%3D'layer2'%3E%3Cpath%20id%3D'path7'%20d%3D'M15.946,37.911l-2.674-2.599l12.167-12.167L13.354,11.06l2.593-2.679L26.075,18.51l4.636,4.636l-4.636,4.636L15.946,37.911z'/%3E%3C/g%3E%3C/svg%3E");
}
.segmented.paging.vertical > .button:first-of-type::before,
html[dir=rtl] .segmented.paging.vertical > .button:last-of-type::before,
.segmented.paging.vertical > button:first-of-type::before,
html[dir=rtl] .segmented.paging.vertical > button:last-of-type::before {
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20id%3D'svg2'%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20x%3D'0px'%20y%3D'0px'%20width%3D'48px'%20height%3D'48px'%20viewBox%3D'0%200%2048%2048'%20enable-background%3D'new%200%200%2048%2048'%20xml%3Aspace%3D'preserve'%3E%3Cg%20id%3D'g4'%3E%3C/g%3E%3Cg%20id%3D'layer2'%3E%3Cpath%20id%3D'path7'%20d%3D'M7.227,17.101l2.599-2.674l12.167,12.167l12.086-12.086l2.679,2.593L26.628,27.229l-4.636,4.636l-4.636-4.636%20L7.227,17.101z'/%3E%3C/g%3E%3C/svg%3E");
}
.segmented.paging.vertical > .button:last-of-type::before,
html[dir=rtl] .segmented.paging.vertical > .button:first-of-type::before,
.segmented.paging.vertical > button:last-of-type::before,
html[dir=rtl] .segmented.paging.vertical > button:first-of-type::before {
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20id%3D'svg2'%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20x%3D'0px'%20y%3D'0px'%20width%3D'48px'%20height%3D'48px'%20viewBox%3D'0%200%2048%2048'%20enable-background%3D'new%200%200%2048%2048'%20xml%3Aspace%3D'preserve'%3E%3Cg%20id%3D'g4'%3E%3C/g%3E%3Cg%20id%3D'layer2'%3E%3Cpath%20id%3D'path7'%20d%3D'M36.757,29.191l-2.599,2.674L21.992,19.698L9.905,31.784l-2.679-2.593l10.129-10.129l4.636-4.636l4.636,4.636%20L36.757,29.191z'/%3E%3C/g%3E%3C/svg%3E");
}
article.paging {
  overflow: hidden !important;
  overflow-y: scroll !important;
  -webkit-box-orient: vertical !important;
  -webkit-direction: column !important;
  box-orient: vertical !important;
  direction: column !important;
}
article.paging > section {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  padding: 0 0 100px 0 !important;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* Scaling needed to fix overflow bug in mobile Safari: */
article.paging.horizontal > section.previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
article.paging.horizontal > section.current {
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
  transform: translate3d(0, 0, 0) scale(1, 1);
}
article.paging.horizontal > section.next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0, 1);
  transform: translate3d(100%, 0, 0) scale(0, 1);
}
article.paging.vertical > section.previous {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
article.paging.vertical > section.current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
article.paging.vertical > section.next {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
html[dir=rtl] .segmented.paging.horizontal {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
html[dir=rtl] .segmented.paging.horizontal button:first-child {
  border: none !important;
}
html[dir=rtl] .segmented.paging.horizontal button:first-child::before {
  left: -10px;
}
html[dir=rtl] .segmented.paging.horizontal button:last-child {
  border: none !important;
}
html[dir=rtl] .segmented.paging.horizontal button:last-child::before {
  left: -10px;
}
html[dir=rtl] .segmented.paging.horizontal > button::before {
  top: -2px;
}
html[dir=rtl] article.paging.horizontal > section.previous {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
html[dir=rtl] article.paging.horizontal > section.current {
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
  transform: translate3d(0, 0, 0) scale(1, 1);
}
html[dir=rtl] article.paging.horizontal > section.next {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
html[dir=rtl] .segmented.paging.horizontal > button::before {
  -webkit-transform: rotate(180deg);
}
/* ==============================
   Toolbar
   =========================== */
.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  padding: 0 15px;
  background-color: #f7f7f7;
  border-top: solid 1px #a7a7aa;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.toolbar > button {
  margin-right: 20px;
  color: #007aff;
}
.splitlayout > .master + .toolbar {
  left: 0;
  width: 320px;
  border-right: solid 1px #c8c8c7 !important;
}
.splitlayout > .detail + .toolbar {
  left: 320px;
}
article.has-toolbar {
  bottom: 45px !important;
}
div.toolbar.current {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
div.toolbar.next {
  -webkit-transform: translate3d(101%, 0, 0) !important;
  transform: translate3d(101%, 0, 0) !important;
}
div.toolbar.previous {
  -webkit-transform: translate3d(-101%, 0, 0) !important;
  transform: translate3d(-101%, 0, 0) !important;
}
html[dir=rtl] .splitlayout > .master + .toolbar {
  right: 0;
  left: 320px;
  width: 320px;
  border-right: none;
  border-left: solid 1px #c8c8c7 !important;
}
html[dir=rtl] .splitlayout > .detail + .toolbar {
  right: 320px;
  left: 0;
}
/* ==============================
   Split Layout
   =========================== */
body.splitlayout {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
body.splitlayout > nav {
  background-color: #f7f7f7;
  border-bottom: solid 1px #a7a7aa;
}
body.splitlayout > nav:first-of-type {
  width: 320px;
  right: auto;
  border-right: solid 1px #c8c8c7 !important;
}
body.splitlayout > nav:last-of-type {
  left: 320px;
}
body.splitlayout > nav h1 {
  z-index: auto;
  text-align: center;
}
body.splitlayout > article.master {
  top: 45px;
  left: 0;
  bottom: 0;
  right: 320px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  border-right: solid 1px #c8c8c7 !important;
}
body.splitlayout > article.detail {
  top: 45px;
  left: 320px !important;
  bottom: 0;
  left: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
html[dir=rtl] body.splitlayout > nav:first-of-type {
  right: 0;
  left: 320px;
  border-right: none;
  border-left: solid 1px #c8c8c7 !important;
}
html[dir=rtl] body.splitlayout > nav:last-of-type {
  left: 0;
  right: 320px;
}
html[dir=rtl] body.splitlayout > article.master {
  left: 320px !important;
  right: 0 !important;
  border-right: none !important;
  border-left: solid 1px #c8c8c7 !important;
}
html[dir=rtl] body.splitlayout > article.detail {
  right: 320px !important;
  left: 0 !important;
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  .splitlayout > article.master {
    right: 260px !important;
    width: 260px;
  }
  .splitlayout > article.detail {
    left: 260px !important;
  }
  .splitlayout > nav:first-of-type {
    width: 260px !important;
  }
  .splitlayout > nav:last-of-type {
    left: 260px !important;
  }
}
/* ==============================
   Mask Control
   =========================== */
.mask {
  display: block;
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: pointer;
}
/* ==============================
   Busy Control
   =========================== */
@-webkit-keyframes busyAnim {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes busyAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.busy {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-animation: busyAnim 100s linear infinite;
  animation: busyAnim 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'0%200%2042%2042'%3E%3Cg%20transform%3D'translate%2821,21%29'%3E%3Cg%20stroke-width%3D'4'%20stroke-linecap%3D'round'%20stroke%3D'rgb%280,%200,%200%29'%3E%3Cline%20id%3D'tine1'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%280,%200,%200%29'%20opacity%3D'1'%3E%3C/line%3E%3Cline%20id%3D'tine2'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-36,%200,%200%29'%20opacity%3D'.9'%3E%3C/line%3E%3Cline%20id%3D'tine3'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-72,%200,%200%29'%20opacity%3D'.8'%3E%3C/line%3E%3Cline%20id%3D'tine4'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-108,%200,%200%29'%20opacity%3D'.7'%3E%3C/line%3E%3Cline%20id%3D'tine5'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-144,%200,%200%29'%20opacity%3D'.6'%3E%3C/line%3E%3Cline%20id%3D'tine6'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-180,%200,%200%29'%20opacity%3D'.5'%3E%3C/line%3E%3Cline%20id%3D'tine7'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-216,%200,%200%29'%20opacity%3D'.4'%3E%3C/line%3E%3Cline%20id%3D'tine8'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-252,%200,%200%29'%20opacity%3D'1'%3E%3C/line%3E%3Cline%20id%3D'tine9'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-288,%200,%200%29'%20opacity%3D'1'%3E%3C/line%3E%3Cline%20id%3D'tine10'%20x1%3D'0'%20y1%3D'11'%20x2%3D'0'%20y2%3D'18'%20transform%3D'rotate%28-324,%200,%200%29'%20opacity%3D'1'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.busy.align-flush {
  position: absolute;
  right: 15px;
}
/* ==============================
   Popover Control
   =========================== */
.popover {
  width: 280px;
  background-color: #e7e9ee;
  border-radius: 10px;
  height: 250px;
  max-height: 300px;
  position: absolute;
  padding-bottom: 10px;
  z-index: 111111;
}
.popover::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  background-color: #f5f5f6;
  -webkit-transform: rotate(45deg);
  margin: 0 auto;
  position: absolute;
  top: -7px;
  left: 49%;
  z-index: -1;
}
.popover header {
  background-color: #f5f5f6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.popover header h1 {
  font-size: 12pt;
  text-align: center;
}
.popover > section {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0;
  position: absolute;
  top: 40px;
  bottom: 10px;
  left: 0;
  right: 0;
}
/* ==============================
   Popup Control
   =========================== */
.popup {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  border-radius: 10px;
  padding: 0px;
  background-color: #e3e3e3;
  position: absolute;
  z-index: 10000;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-trasform-origin: center center;
  trasform-origin: center center;
}
.popup.closed {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.popup.opened {
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.popup.noTitle {
  padding-top: 20px;
}
.popup > .panel {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.popup > .panel > p {
  padding: 0 15px;
  margin-top: 0;
  text-align: center;
}
.popup header,
.popup footer {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100% !important;
  box-sizing: border-box;
}
.popup .panel > header {
  padding: 8px 16px;
}
.popup .panel > header > h1 {
  position: static;
  text-align: center;
  margin: 0;
  width: 100% !important;
  line-height: 32pt;
  font-size: 16pt;
  font-weight: bold;
}
.popup footer {
  width: 100%;
  padding: 0;
}
.popup footer > button {
  display: block !important;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  margin: 0;
  height: 100%;
  line-height: 30pt;
  max-width: 320px !important;
  font-weight: bold;
  border-top: solid 1px #b5b5b5;
  color: #2d2d2d;
}
.popup footer > button + button {
  border-left: solid 1px #b5b5b5;
}
html[dir=rtl] .popup > .panel > p {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
html[dir=rtl] .popup > footer > button + button {
  border-right: solid 1px #b5b5b5;
  border-left: none;
}
/* ============================== 
   Deletable Lists
   =========================== */
.list li > .deletion-indicator {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -webkit-box;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #ffffff;
  border: solid 1px #ff3b30;
  background-color: #ff3b30;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 6px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  margin-left: -40px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.list li > .deletion-indicator::before {
  display: block;
  content: '—';
  -webkit-font-smoothing: none;
  font-size: 12pt;
  position: absolute;
  min-width: 20px;
  text-align: center;
  width: 10px;
  height: 10px;
  margin-top: -3px;
}
.list li > .move-up,
.list li > .move-down {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: -20px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
.list li > .move-up::before,
.list li > .move-down::before {
  display: block;
  content: '';
  width: 21px;
  height: 21px;
  position: absolute;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22367px%22%20height%3D%22367px%22%20viewBox%3D%220%200%20367%20367%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22Sortable%22%20transform%3D%22translate%2813.000000,%2013.000000%29%22%20stroke%3D%22%23007aff%22%20stroke-width%3D%2225%22%3E%3Ccircle%20id%3D%22Oval-1%22%20cx%3D%22170.5%22%20cy%3D%22170.5%22%20r%3D%22170.5%22%3E%3C/circle%3E%3Cpath%20d%3D%22M55.3736267,209.778395%20L172.745285,100.706186%20L286.306656,209.611568%22%20id%3D%22Path-2%22%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.list li > .move-down {
  margin-right: 10px;
  -webkit-transform: translate3d(120px, 0, 0) rotate(180deg);
  transform: translate3d(120px, 0, 0) rotate(180deg);
}
.list li > button.delete {
  float: right;
  background-color: #ff0000;
  color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 80px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(80px, 0, 0);
  transform: translate3d(80px, 0, 0);
  cursor: pointer;
  font-family: 'HelveticaNeue-Light';
  font-weight: 200;
}
.list li > button.delete > label {
  display: block;
  margin: auto;
  font: -apple-system-short-headline;
  font-weight: normal;
}
.list li:first-of-type > .move-up {
  opacity: .35;
}
.list li:last-of-type > .move-down {
  opacity: .35;
}
.list.editable > li,
.list.deletable > li {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list.editable > li.selected,
.list.deletable > li.selected {
  margin-right: 80px;
  background-color: #ffffff;
}
.list.editable > li.selected h3,
.list.deletable > li.selected h3,
.list.editable > li.selected h4,
.list.deletable > li.selected h4,
.list.editable > li.selected p,
.list.deletable > li.selected p {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.list.editable > li.selected > button.delete,
.list.deletable > li.selected > button.delete {
  -webkit-transform: translate3d(80px, 0, 0);
  transform: translate3d(80px, 0, 0);
}
.list.editable > li.selected > .deletion-indicator,
.list.deletable > li.selected > .deletion-indicator {
  -webkit-transform: rotate(90deg);
}
.list.showIndicators .deletion-indicator {
  margin-left: 0;
}
.list.showIndicators .move-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list.showIndicators .move-down {
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  transform: translate3d(0, 0, 0) rotate(180deg);
}
.list.showIndicators > li[data-goto] {
  padding-left: 40px;
}
.list.showIndicators > li[data-goto] .deletion-indicator {
  left: 10px;
}
.list.showIndicators > li > h3 {
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list > li[data-goto] > .deletion-indicator {
  position: absolute;
  left: -40px;
  margin-left: 0px;
}
.list > li[data-goto] > .deletion-indicator + div + aside {
  margin: -20px;
  position: relative;
  right: 15px;
}
html[dir=rtl] .list > li > .deletion-indicator {
  float: right;
  margin-right: auto;
  margin-left: -20px;
  right: -40px;
}
html[dir=rtl] .list > li > .move-up {
  float: left !important;
  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
html[dir=rtl] .list > li > .move-down {
  float: left !important;
  -webkit-transform: translate3d(-140px, 0, 0) rotate(180deg);
  transform: translate3d(-140px, 0, 0) rotate(180deg);
}
html[dir=rtl] .list > li > button.delete {
  -webkit-transform: translate3d(-80px, 0, 0);
  transform: translate3d(-80px, 0, 0);
  left: 0;
  right: auto;
}
html[dir=rtl].deletable.showIndicators > li,
html[dir=rtl].editable.showIndicators > li {
  margin-right: 0px;
}
html[dir=rtl] .list.deletable > li.selected,
html[dir=rtl] .list.editable > li.selected {
  margin-right: 0 !important;
}
html[dir=rtl] .list.deletable > li.selected > button.delete,
html[dir=rtl] .list.editable > li.selected > button.delete {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
html[dir=rtl] .list.deletable > li > button.delete,
html[dir=rtl] .list.editable > li > button.delete {
  -webkit-transform: translate3d(-80px, 0, 0) !important;
  transform: translate3d(-80px, 0, 0) !important;
}
html[dir=rtl] .list.showIndicators > li.selected,
html[dir=rtl] .list.deletable.showIndicators > li.selected,
html[dir=rtl] .list.editable.showIndicators > li.selected {
  margin-right: 0;
}
html[dir=rtl] .list.showIndicators > li.selected > button.delete,
html[dir=rtl] .list.deletable.showIndicators > li.selected > button.delete,
html[dir=rtl] .list.editable.showIndicators > li.selected > button.delete {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
html[dir=rtl] .list.showIndicators > li.selected > .move-up,
html[dir=rtl] .list.deletable.showIndicators > li.selected > .move-up,
html[dir=rtl] .list.editable.showIndicators > li.selected > .move-up {
  -webkit-transform: translate3d(90px, 0, 0);
  transform: translate3d(90px, 0, 0);
}
html[dir=rtl] .list.showIndicators > li.selected > .move-down,
html[dir=rtl] .list.deletable.showIndicators > li.selected > .move-down,
html[dir=rtl] .list.editable.showIndicators > li.selected > .move-down {
  -webkit-transform: translate3d(100px, 0, 0) rotate(180deg);
  transform: translate3d(100px, 0, 0) rotate(180deg);
}
html[dir=rtl] .list.showIndicators > li > .deletion-indicator,
html[dir=rtl] .list.deletable.showIndicators > li > .deletion-indicator,
html[dir=rtl] .list.editable.showIndicators > li > .deletion-indicator {
  right: 0px !important;
  margin-left: 10px;
}
html[dir=rtl] .list.showIndicators > li > .move-up,
html[dir=rtl] .list.deletable.showIndicators > li > .move-up,
html[dir=rtl] .list.editable.showIndicators > li > .move-up {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
}
html[dir=rtl] .list.showIndicators > li > .move-down,
html[dir=rtl] .list.deletable.showIndicators > li > .move-down,
html[dir=rtl] .list.editable.showIndicators > li > .move-down {
  -webkit-transform: translate3d(20px, 0, 0) rotate(180deg);
  transform: translate3d(20px, 0, 0) rotate(180deg);
}
html[dir=rtl] .list.showIndicators > li > button.delete,
html[dir=rtl] .list.deletable.showIndicators > li > button.delete,
html[dir=rtl] .list.editable.showIndicators > li > button.delete {
  right: auto;
  left: 0 !important;
}
/* ==============================
   Form Elements
   =========================== */
input[type=text],
input[type=email],
input[type=password],
input[type=text],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}
.isiOS:not(.isDesktop) .select-box > select {
  opacity: .01;
  height: 1px;
  width: 1px;
  -wekbit-appearance: none;
  position: absolute;
}
.isDesktop .select-box > select {
  max-width: 120px;
}
.isDesktop .select-box-label {
  display: none !important;
}
.select-box-label {
  border: solid 1px #007aff;
  border-radius: 3px;
  padding: 2px 30px 2px 10px;
  font-size: 11px;
  background-image: -webkit-linear-gradient(top, #007aff, #007aff);
  background-position: top right;
  background-size: 20px 100%;
  background-repeat: no-repeat;
  height: 20px;
  box-sizing: border-box;
  min-width: 100px;
  max-width: 160px;
  width: auto;
  cursor: pointer;
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.select-box-label::after {
  content: '';
  display: block;
  height: 10px;
  width: 1px;
  border-top: solid 7px #fff;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  position: absolute;
  top: 6px;
  right: 4px;
}
.searchBar {
  width: 100%;
  -webkit-box-sizing: border-box;
  height: 45px;
  background-color: #c9c9ce;
  padding: 5px 10px;
}
input[type="search"] {
  display: block;
  background-color: #fff;
  padding: 7px 0 7px 10px;
  border-radius: 5px;
  border-color: transparent;
  width: 100%;
  -webkit-appearance: none;
  padding-left: 20px;
  -webkit-transtion: all 0.5s ease-out;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='48px' height='48px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'><path d='M42.71,38.482L32.478,28.208c1.598-2.385,2.532-5.249,2.532-8.329c0-8.273-6.73-15.004-15.004-15.004 S5.001,11.606,5.001,19.879c0,8.274,6.731,15.004,15.004,15.004c3.055,0,5.896-0.923,8.27-2.497l10.236,10.279 c0.858,0.861,2.19,0.927,2.977,0.143l1.354-1.349C43.629,40.678,43.569,39.345,42.71,38.482z M10.001,19.879    c0-5.517,4.488-10.004,10.004-10.004S30.01,14.363,30.01,19.879c0,5.516-4.487,10.004-10.004,10.004S10.001,25.396,10.001,19.879z' fill='#bbb' /></svg>");
  background-position: 5px center;
  text-align: left;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  -webkit-user-select: ignore;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="search"]:focus {
  outline: none;
}
/* ==============================
   Icon
   =========================== */
/*
  Put a class or id on each icon.
  The use a png or svg image as 
  a background image. Apply a
  background color too.
  See page article of demo
  paging control for example.
*/
.icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
  border-radius: 10px;
}
/* ==============================
   Range Control
   =========================== */
input[type="range"] {
  -webkit-appearance: none !important;
  outline: none;
  display: block;
  width: auto;
  height: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #b3b3b4;
  background-image: -webkit-linear-gradient(top, #007aff, #007aff);
  background-size: 0px 4px;
  background-position: left center;
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  width: 27px;
  height: 27px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 5px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
}
.isDesktop input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #f9f9f9;
}
html[dir=rtl] input[type="range"] {
  background-position: right center;
}
/* ============================== 
   Select List
   =========================== */
.list.select li > input {
  display: none;
}
.list.select li.selected::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20version%3D'1.1'%20width%3D'32'%20height%3D'26'%20viewBox%3D'0%200%2032%2026'%20id%3D'svg2'%3E%3Cdefs%20id%3D'defs8'%20/%3E%3Cg%20transform%3D'translate%280.13135593,-0.34322034%29'%20id%3D'Page-1'%20style%3D'fill%3Anone%3Bstroke%3Anone'%3E%3Cg%20id%3D'Artboard-1'%20style%3D'stroke%3A%23000000%3Bstroke-width%3A5'%3E%3Cpath%20d%3D'm%2010.500868,22.761362%2011.023688,0%200,-27.9582975'%20transform%3D'matrix%280.70710678,0.70710678,-0.70710678,0.70710678,10.899977,-8.7504466%29'%20id%3D'Rectangle-1'%20/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  float: right;
  margin-top: -20px;
  background-color: #007aff;
}
.isDesktop .list.select li.selected:hover {
  background-color: #d9d9d9;
}
html[dir=rtl] .list.select li.selected::after {
  float: left;
}
/* ==============================
   Sheet Control
   =========================== */
.sheet {
  position: absolute;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(156, 159, 164, 0.5);
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  visibility: hidden;
}
.sheet div.handle {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  height: 20pt;
  background-color: #ffffff;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20version%3D'1.1'%20width%3D'76'%20height%3D'27'%20viewBox%3D'0%200%2076%2027'%20id%3D'svg2'%3E%3Cdefs%20id%3D'defs8'%20/%3E%3Cg%20transform%3D'translate%28-283.79661,-123.77966%29'%20id%3D'Page-1'%20style%3D'fill%3Anone%3Bstroke%3Anone'%3E%3Cg%20transform%3D'translate%28254,108%29'%20id%3D'Artboard-1'%20style%3D'stroke%3A%23000%3Bstroke-width%3A12%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around'%3E%3Cpath%20d%3D'm%2036.25,26.242187%2031.394531,0%2030.53125,0'%20id%3D'Path-1'%20/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 10px auto 0;
}
.sheet.opened {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sheet.opened div.handle {
  background-color: #ffffff;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3Asvg%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20version%3D'1.1'%20width%3D'76'%20height%3D'27'%20viewBox%3D'0%200%2076%2027'%20id%3D'svg2'%3E%3Cdefs%20id%3D'defs8'%20/%3E%3Cg%20transform%3D'translate%28-283.79661,-123.77966%29'%20id%3D'Page-1'%20style%3D'fill%3Anone%3Bstroke%3Anone'%3E%3Cg%20transform%3D'translate%28254,108%29'%20id%3D'Artboard-1'%20style%3D'stroke%3A%23000%3Bstroke-width%3A12%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around'%3E%3Cpath%20d%3D'm%2036.25,26.242187%2031.394531,7.972657%2030.53125,-8.425782'%20id%3D'Path-1'%20/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.sheet .button {
  color: #585d63;
  border: solid 1px #585d63;
  border-radius: 20px;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
}
.isDesktop .sheet .button:hover,
.sheet .button.selected {
  color: #ffffff;
  border-color: #ffffff;
  opacity: 1 !important;
  -webkit-transition: none;
  transition: none;
}
.sheet > section {
  position: absolute;
  top: 36px;
  left: 0;
  bottom: 0;
  height: auto;
  right: 0;
}
.sheet > section > h2 {
  text-align: center;
}
.sheet > section > .list {
  border: none;
  background-color: transparent !important;
}
.sheet > section > .list > li {
  border-bottom: solid 1px #585d63;
  background-color: transparent !important;
}
.sheet > section > .list > li::before {
  content: none;
}
article.current.blurred {
  -webkit-filter: blur(20px);
  -webkit-transition-duration: .15s;
  filter: blur(20px);
  transition-duration: .15s;
}
article.current.blurred.removeBlurSlow {
  -webkit-filter: blur(0px);
  -webkit-transition-duration: .35s;
  filter: blur(0px);
  transition-duration: .35s;
}
/* ==============================
   Slide-Out
   =========================== */
.slide-out {
  position: absolute;
  top: 45px;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 111111111;
  width: 100%;
  visibility: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.slide-out.open {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slide-out > section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
button.slide-out-button {
  position: absolute;
  z-index: 1111111;
  top: 5px;
  left: 15px;
  width: 35px;
  height: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
button.slide-out-button::before {
  display: block;
  content: '';
  width: 35px;
  height: 35px;
  background-color: #000000;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2281px%22%20height%3D%2260px%22%20viewBox%3D%220%200%2081%2060%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22slideout%22%20fill%3D%22%23000000%22%3E%3Crect%20id%3D%22Rectangle%22%20x%3D%228%22%20y%3D%220%22%20width%3D%2264.167%22%20height%3D%227.666%22%3E%3C/rect%3E%3Crect%20id%3D%22Rectangle%22%20x%3D%228%22%20y%3D%2226%22%20width%3D%2264.167%22%20height%3D%227.667%22%3E%3C/rect%3E%3Crect%20id%3D%22Rectangle%22%20x%3D%228%22%20y%3D%2252%22%20width%3D%2264.167%22%20height%3D%227.666%22%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
body.slide-out-app > article {
  display: none !important;
}
body.slide-out-app > article.show {
  display: block !important;
  /*margin-top: 20px !important;*/
}
body.slide-out-app > nav:not(:first-of-type) {
  display: none !important;
}
body.slide-out-app > nav:not(:first-of-type).show {
  display: block !important;
  z-index: 10000;
}
html[dir=rtl] button.slide-out-button {
  right: 15px;
  left: auto;
}
html[dir=rtl] .slide-out {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
html[dir=rtl] .slide-out.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* ==============================
   Stepper Control
   =========================== */
.stepper {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 1px;
}
.stepper > input {
  margin: 0;
  display: none;
}
.stepper > label {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #007aff;
  width: 40px;
  height: 30px;
  font: bold 16px/30px Helvetica;
  text-align: center;
  background-color: #ffffff;
}
.stepper > button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.35);
  width: 33px;
  height: 30px;
  border: solid 1px #007aff;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  line-height: 16pt;
  cursor: pointer !important;
  overflow: hidden;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #2d2d2d;
}
.stepper > button > span {
  display: block;
  margin: -4px auto auto auto;
}
.stepper > button:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.stepper > button:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
html[dir=rtl] .stepper > button:first-of-type {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-right: solid 1px #007aff;
  border-left: none;
}
html[dir=rtl] .stepper > button:last-of-type {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: solid 1px #007aff;
  border-right: none;
}
/* ==============================
   Switched List Items
   =========================== */
.list > li.switched {
  -webkit-box-direction: reverse;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.list > li.switched h3 {
  width: auto;
  font-size: 1em;
  line-height: 1.2;
  color: #007aff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list > li.switched > h4 {
  width: 48%;
  text-align: right;
  margin-right: 10px;
  font-size: 1.13em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
  color: #000000 !important;
}
/* ==============================
   Switches
   =========================== */
.switch {
  display: inline-block;
  width: 54px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 2px #e6e6e6;
  border-radius: 20px;
  position: relative;
  box-shadow: inset 0 0 0 15px #ffffff;
  cursor: pointer;
  -webkit-animation-duration: .65s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchAnimationOff;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchAnimationOff;
}
.switch > em {
  display: block;
  width: 27px;
  height: 27px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 5px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchThumbAnimationOff;
  transition: -webkit-transform 0.1s ease-in-out;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchThumbAnimationOff;
  pointer-events: none;
}
.switch > input {
  display: none;
}
.switch.on {
  border-color: #6ee102;
  box-shadow: inset 0 0 0 15px #6ee102;
  -webkit-animation-name: none;
  animation-name: none;
}
.switch.on > em {
  -webkit-transform: translate3d(23px, 0, 0);
  -webkit-transition-duration: .2s;
  -webkit-animation-duration: .45s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchThumbAnimation;
  transform: translate3d(23px, 0, 0);
  transition-duration: .2s;
  animation-duration: .45s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchThumbAnimation;
}
@-webkit-keyframes switchAnimationOff {
  0% {
    box-shadow: inset 0 0 0 15px #e6e6e6;
  }
  49.999% {
    box-shadow: inset 0 0 0 0 #e6e6e6;
  }
  50% {
    box-shadow: inset 0 0 0 0 #fff;
  }
  100% {
    box-shadow: inset 0 0 0 15px #fff;
  }
}
@-webkit-keyframes switchThumbAnimation {
  0% {
    width: 27px;
  }
  1% {
    width: 40px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
@-webkit-keyframes switchThumbAnimationOff {
  0% {
    width: 27px;
  }
  5% {
    width: 45px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
@keyframes switchAnimationOff {
  0% {
    box-shadow: inset 0 0 0 15px #e6e6e6;
  }
  49.999% {
    box-shadow: inset 0 0 0 0 #e6e6e6;
  }
  50% {
    box-shadow: inset 0 0 0 0 #fff;
  }
  100% {
    box-shadow: inset 0 0 0 15px #fff;
  }
}
@keyframes switchThumbAnimation {
  0% {
    width: 27px;
  }
  1% {
    width: 40px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
@keyframes switchThumbAnimationOff {
  0% {
    width: 27px;
  }
  5% {
    width: 45px;
  }
  50% {
    width: 27px;
  }
  100% {
    width: 27px;
  }
}
html[dir=rtl] .switch > em {
  -webkit-transform: translate3d(-23px, 0, 0);
  transform: translate3d(-23px, 0, 0);
}
html[dir=rtl] .switch.on > em {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* ==============================
   Tab Bar
   =========================== */
body.hasTabBar {
  /*
  nav {
    background-color: @navBkgnd;
    border-bottom: solid 1px #a7a7aa;
  }*/
}
body.hasTabBar article {
  bottom: 50px;
}
body.hasTabBar .previous:not(.navigable),
body.hasTabBar .next:not(.navigable) {
  display: none;
  -webkiit-transform: none;
}
.tabbar {
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid 1px #929292;
  background-color: #f7f7f7;
}
.tabbar > button {
  height: 100%;
  position: relative;
  padding: 0;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  display: -webkit-flex;
  color: #929292;
  font-size: 9pt;
  padding: 1px;
}
.isDesktop .tabbar > button:hover,
.tabbar > button.selected {
  color: #007aff !important;
  opacity: 1 !important;
}
.isDesktop .tabbar > button:hover > .icon,
.tabbar > button.selected > .icon {
  background-color: #007aff !important;
}
.tabbar > button > .icon {
  margin: 0 auto;
  background-color: #929292;
  content: '';
  display: block;
  height: 30px;
  width: 30px;
}
.tabbar > button.more > .icon {
  background-color: #929292;
  -webkit-mask-position: 50% 50%;
  -webkit-mask-size: 90% 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("data:image/svg+xml;utf8,%3Csvg%20version%3D'1.1'%20id%3D'Layer_2'%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20xmlns%3Axlink%3D'http%3A//www.w3.org/1999/xlink'%20x%3D'0px'%20y%3D'0px'%20width%3D'48px'%20height%3D'48px'%20viewBox%3D'0%200%2048%2048'%20enable-background%3D'new%200%200%2048%2048'%20xml%3Aspace%3D'preserve'%3E%3Ccircle%20cx%3D'10'%20cy%3D'23'%20r%3D'5.172'/%3E%3Ccircle%20cx%3D'24'%20cy%3D'23'%20r%3D'5.172'/%3E%3Ccircle%20cx%3D'38'%20cy%3D'23'%20r%3D'5.172'/%3E%3C/svg%3E");
}
/* ============================== 
   Carousel styles
   =========================== */
#carousel {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  box-sizing: border-box;
  background-color: #ccc;
}
.carousel-track {
  margin: 0;
  padding: 0;
}
.carousel-track > li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  border-left: solid 1px #999;
  padding-bottom: 10px;
  -webkit-user-select: none;
}
.carousel-track > li.carousel-panel-active {
  border: none;
}
.pagination {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-around;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pagination::after {
  content: '';
  display: block;
  clear: both;
}
.pagination > li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  background-color: #666;
  border-radius: 5px;
  margin-right: 5px;
}
.pagination > li.selected {
  background-color: #007aff;
  cursor: pointer;
}
.isDesktop .pagination > li:hover {
  background-color: #007aff;
  cursor: pointer;
}
.pagination > li:last-of-type {
  margin-right: 0;
}
html[dir=rtl] .pagination > li {
  margin-right: 0;
  margin-left: 5px;
  padding: 0;
}
html[dir=rtl] .pagination > li:last-of-type {
  margin-left: 0;
}
.horizontal-scroll-panel {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: hidden !important;
  overflow-x: auto;
}
.horizontal-scroll-panel > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  font-size: 0;
}
.horizontal-scroll-panel > ul li {
  display: inline-block;
  border: solid 1px #666;
  box-shadow: 0 0 4px #666;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-right: 20px;
  font-size: 0;
}
.horizontal-scroll-panel > ul:first-of-type {
  margin-left: 0 !important;
}
.horizontal-scroll-panel > ul:last-of-type {
  margin-right: 0 !important;
}
body.isWindows .horizontal-scroll-panel {
  background-color: #333;
}
[dir=rtl] .horizontal-scroll-panel {
  margin-right: -20px;
  padding-right: 20px;
}
[dir=rtl] .horizontal-scroll-panel li {
  margin-right: 0 !important;
  margin-left: 20px !important;
  padding: 0;
}
[dir=rtl] .horizontal-scroll-panel li:first-of-type {
  margin-right: 0 !important;
}
[dir=rtl] .horizontal-scroll-panel li:last-of-type {
  margin-left: 0 !important;
}
[dir=rtl] body.isWindows .horizontal-scroll-panel li {
  float: right;
}
@media only screen and (max-device-width: 480px) {
  .horizontal-scroll-panel {
    height: 125px;
    padding: 10px;
  }
  .horizontal-scroll-panel li {
    height: 125px;
    width: 125px;
  }
}
