/*
    pO\
   6  /\
     /OO\
    /OOOO\
   /OOOOOO\
  (OOOOOOOO)
   \:~==~:/

ChocolateChip-UI
ChUI-Android.css
Copyright 2014 Sourcebits www.sourcebits.com
License: MIT
Version: 3.8.0
*/
/*
  To create a custom theme, adjust the color for @primaryColor. If you want a secondary color, uncomment the line for @secondaryColor and set it's value to what you want.
*/
.attentionGrapper {
  color: #007aff !important;
}
/* 
  Flex parameters:
  #flex > .display(<flex> | <inline-flex>);
  #flex > .flex-direction(row | row-reverse | column | column-reverse);
  #flex > .justify-content(flex-start | flex-end | center | space-between | space-around);
  #flex > .align-content(flex-start | flex-end | center | space-between | space-around | stretch);
  #fkex > .flex(none | [ <flex-grow> <flex-shrink> | <flex-basis> ]);
*/
/* ==============================
   Body
   =========================== */
html,
body {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}
body {
  /* Change background color for your app: */
  background-color: #fafafa;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
span,
ul,
ol,
li,
pre,
blockquote,
article,
section,
nav,
aside,
header,
footer,
address,
dl,
tdt,
dd,
figure,
figcaption,
a,
em,
strong,
abbr,
time,
code,
sup,
sub,
i,
b,
u,
ruby,
table,
thead,
tbody,
th,
tr,
td,
label,
input,
button,
select,
option,
textarea,
menu,
body {
  font: 100 14px/18px Roboto, SegoeWP, HelveticaNeue, sans-serif;
}
/* ==============================
   Article (view) styles      
   =========================== */
article {
  position: absolute;
  top: 52px;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.hide-navbars article {
  top: 0;
}
/* ==============================
   Article navigation states    
   =========================== */
.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
.next {
  -webkit-transform: translate3d(105%, 0, 0);
  -moz-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
  visibility: hidden;
}
.previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  visibility: hidden;
}
html[dir=rtl] .current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] .next {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
html[dir=rtl] .previous {
  -webkit-transform: translate3d(105%, 0, 0);
  -moz-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
/* ==============================
   Scrollers
   =========================== */
.scroller-vertical,
.scroller-horizontal {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scroller-horizontal {
  overflow-y: hidden;
  overflow-x: auto;
}
article > section,
.scroller-vertical {
  padding-top: 10px;
  padding-bottom: 100px;
  min-height: 100%;
  width: 100%;
}
article > section > :last-child::after,
.scroller-vertical > :last-child::after {
  margin-bottom: 100px;
}
/* ==============================
   Horizontal Panels
   =========================== */
.vertical,
li.comp > aside.vertical {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.horizontal {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.horizontal.centered {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/* ==============================
   Buttons                
   =========================== */
@-webkit-keyframes animate-icon {
  0% {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.25);
  }
  65% {
    box-shadow: inset 0 0 5px 30px rgba(255, 255, 255, 0.25);
  }
  100% {
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.25);
  }
}
@-webkit-keyframes focused {
  0% {
    background-size: 0% 0%;
  }
  100% {
    background-size: 300% 200%;
  }
}
.align-flush {
  position: absolute;
  top: auto;
  bottom: auto;
  right: 10px;
  left: auto;
}
body.isNativeAndroidBrowser .align-flush {
  float: right;
}
button {
  box-shadow: none;
  border: none;
  color: #2d2d2d;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 12px 20px 10px;
  text-transform: uppercase;
  font-family: 'Roboto Regular', HeveticaNeue, Sans-serif;
  border-radius: 2px;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-timing-function: ease-out;
  animation-duration: 0.35s;
  animation-timing-function: ease-out;
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0.125) 50%, rgba(0, 0, 0, 0) 60%);
  background-size: 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation-fill-mode: forwards;
}
button:hover {
  -webkit-animation-name: focused;
  animation-name: focused;
}
button:focus {
  outline: none !important;
}
button.no-border {
  border: none !important;
}
button.action {
  color: #2d2d2d;
  background-color: #e0e0e0;
  margin: 0 auto;
  width: auto;
  height: 40px;
  min-width: 200px;
  max-width: 300px;
  box-shadow: 0 1px 4px #666666;
  margin: 20px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
section > button.action.action {
  margin: 20px auto;
}
.isDesktop button.action:hover {
  box-shadow: 0 3px 7px #666666;
  background-color: #cecece;
}
button.back,
button.backTo {
  text-align: left;
  padding: 0 12px 0 12px !important;
  margin: 0 0 0 0;
  line-height: 28px;
  color: #eaeaea;
  font-size: 0;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-animation-delay: .5s;
}
button.back::after,
button.backTo::after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22120px%22%20height%3D%22120px%22%20viewBox%3D%220%200%20120%20120%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22BackButton%22%20stroke-linecap%3D%22square%22%20stroke%3D%22%23000000%22%20stroke-width%3D%228%22%3E%3Cg%20id%3D%22Line-2-+-Line-+-Line%22%20transform%3D%22translate%2815.000000,%2022.000000%29%22%3E%3Cpath%20d%3D%22M0.62909796,38.5%20L37.1384668,76.3699524%22%20id%3D%22Line-2%22%3E%3C/path%3E%3Cpath%20d%3D%22M89.3478261,39%20L3.2313744,39%22%20id%3D%22Line%22%3E%3C/path%3E%3Cpath%20d%3D%22M0.62909796,38.5%20L37.1384668,0.63004759%22%20id%3D%22Line%22%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: 90% 90%;
  background-repeat: no-repeat;
}
.isDesktop button.back:hover,
.isDesktop button.backTo:hover {
  background-color: rgba(0, 0, 0, 0.35) !important;
  -webkit-animation: animate-icon 0.5s none;
}
.isDesktop button.back:hover::after,
.isDesktop button.backTo:hover::after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22120px%22%20height%3D%22120px%22%20viewBox%3D%220%200%20120%20120%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22BackButton%22%20stroke-linecap%3D%22square%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%228%22%3E%3Cg%20id%3D%22Line-2-+-Line-+-Line%22%20transform%3D%22translate%2815.000000,%2022.000000%29%22%3E%3Cpath%20d%3D%22M0.62909796,38.5%20L37.1384668,76.3699524%22%20id%3D%22Line-2%22%3E%3C/path%3E%3Cpath%20d%3D%22M89.3478261,39%20L3.2313744,39%22%20id%3D%22Line%22%3E%3C/path%3E%3Cpath%20d%3D%22M0.62909796,38.5%20L37.1384668,0.63004759%22%20id%3D%22Line%22%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
}
body.isChrome a.button.back,
body.isChrome a.button.backTo {
  top: 6px;
}
body.isNativeAndroidBrowser button.back,
body.isNativeAndroidBrowser button.backTo {
  top: 0;
  bottom: 0;
}
body.isNativeAndroidBrowser button.back::after,
body.isNativeAndroidBrowser button.backTo::after {
  top: -2px;
}
body.isNativeAndroidBrowser button.backTo::after {
  top: 2px;
}
body.isNativeAndroidBrowser button.back::before {
  top: 8px;
}
html[dir=rtl] button {
  line-height: 12pt;
}
html[dir=rtl] button.back,
html[dir=rtl] button.backTo {
  margin: 0 0 0 16px;
}
html[dir=rtl] button.back::after,
html[dir=rtl] button.backTo::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  right: auto;
}
html[dir=rtl] button.align-flush {
  left: 10px;
  right: auto;
}
/* ==============================
   Nav bars               
   =========================== */
#global-nav {
  background-color: #eaeaea;
  overflow: hidden;
  box-shadow: 0 1px 2px #666666;
  padding: 0 5px;
}
nav {
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  padding: 0 10px;
  vertical-align: middle;
}
nav > button:first-child {
  margin-left: 0;
}
nav > h1 {
  text-align: left;
  display: inline-block;
  margin: 0 16px 0 8px;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  font: 100 14pt/30pt Roboto, SegoeWP, HelveticaNeue, Sans-serif !important;
  position: relative;
  z-index: -1;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
}
nav > h1 + button {
  margin: 5px 5px 0 0;
  position: absolute;
  top: 0;
  right: 10px;
}
nav > button,
nav > div > button {
  position: relative;
  color: #000000 !important;
}
nav > button:hover,
nav > div > button:hover {
  background-color: rgba(0, 0, 0, 0.25) !important;
  color: #000000 !important;
}
.isDesktop nav .back:hover,
.isDesktop nav .backTo:hover {
  background-color: #000000 !important;
  -webkit-animation: animate-icon 0.5s none;
  color: #000000;
}
html[dir=rtl] nav > h1 {
  text-align: right;
  margin-right: 8px;
}
html[dir=rtl] nav > h1 + button {
  position: relative !important;
  margin: 10px 10px 10px 10px;
}
html[dir=rtl] body.isNativeAndroidBrowser nav > h1 + button {
  left: 10px !important;
  right: auto !important;
  top: 5px !important;
  margin-top: 0;
  position: absolute !important;
}
/* ==============================
   Lists                 
   =========================== */
.list {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;
  border-top: solid 1px #cbcbcb;
  border-bottom: solid 1px #cbcbcb;
  background-color: #ffffff;
}
.list > li {
  padding: 13px 10px 13px 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: relative;
  background-color: #ffffff;
  font-size: 12pt;
  border-bottom: solid 1px #cbcbcb;
}
.list > li.nav::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-right: solid 3px #666666;
  border-top: solid 3px #666666;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
  position: absolute;
  top: 16px;
  right: 15px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.list > li.show-detail::after {
  content: 'i';
  display: block;
  width: 22px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #007aff;
  color: #007aff;
  font: bold 14px/0 Roboto, SegoeWP, HelveticaNeue, Sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  position: absolute;
  top: 10px;
  right: 16px;
}
.list + .button {
  margin-top: 20px !important;
}
h2 + .list {
  margin-top: 0;
}
/* ==============================
   List Footer
   =========================== */
p {
  font-family: 'Roboto Regular', 'HeveletcaNeue', Helvetica, sans-serif;
}
.list ~ p {
  margin: 10px 16px 0;
}
.list ~ p + p {
  margin-top: 5pt;
}
.isDesktop .list > li[data-goto]:hover,
.list > li[data-goto].touched,
.isDesktop li[data-show-article]:hover,
li[data-show-article].touched,
.isDesktop .list.select > li:hover {
  cursor: pointer;
  background-color: #007aff;
}
.isDesktop .list > li[data-goto]:hover h3,
.list > li[data-goto].touched h3,
.isDesktop li[data-show-article]:hover h3,
li[data-show-article].touched h3,
.isDesktop .list.select > li:hover h3,
.isDesktop .list > li[data-goto]:hover h4,
.list > li[data-goto].touched h4,
.isDesktop li[data-show-article]:hover h4,
li[data-show-article].touched h4,
.isDesktop .list.select > li:hover h4,
.isDesktop .list > li[data-goto]:hover h5,
.list > li[data-goto].touched h5,
.isDesktop li[data-show-article]:hover h5,
li[data-show-article].touched h5,
.isDesktop .list.select > li:hover h5,
.isDesktop .list > li[data-goto]:hover p,
.list > li[data-goto].touched p,
.isDesktop li[data-show-article]:hover p,
li[data-show-article].touched p,
.isDesktop .list.select > li:hover p,
.isDesktop .list > li[data-goto]:hover div,
.list > li[data-goto].touched div,
.isDesktop li[data-show-article]:hover div,
li[data-show-article].touched div,
.isDesktop .list.select > li:hover div,
.isDesktop .list > li[data-goto]:hover span,
.list > li[data-goto].touched span,
.isDesktop li[data-show-article]:hover span,
li[data-show-article].touched span,
.isDesktop .list.select > li:hover span {
  color: #ffffff;
}
.isDesktop .list > li[data-goto]:hover .nav::after,
.list > li[data-goto].touched .nav::after,
.isDesktop li[data-show-article]:hover .nav::after,
li[data-show-article].touched .nav::after,
.isDesktop .list.select > li:hover .nav::after {
  border-color: #ffffff;
}
.isDesktop .list > li[data-goto].nav:hover::after {
  border-color: #ffffff;
}
.isDesktop .list > li[data-goto].show-detail:hover::after,
.isDesktop .list > li[data-goto]:hover .show-detail::after {
  border: solid 1px #ffffff;
  color: #ffffff;
}
/* ==============================
   list title & subtitle      
   ============================ */
.list > li {
  color: #2d2d2d;
}
.list > li > h3,
.list > li > h4 {
  width: 80%;
  font-weight: 200;
  margin: 0;
}
.list > li > h3 > span,
.list > li > h4 > span {
  font-size: inherit;
  font-weight: inherit;
}
.list > li h3 {
  font-family: 'Roboto Thin', 'HeveletcaNeue Light', Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14pt;
  line-height: 18pt;
  margin-bottom: 2px;
  color: #2d2d2d;
}
.list > li h4 {
  font-family: 'Roboto Regular', 'HeveletcaNeue', Helvetica, sans-serif;
  font-weight: normal;
  color: #2d2d2d;
}
.list > li > h4,
.list > li > div > h4,
.list > li > p,
.list > li > div > p {
  font-size: 12pt;
  line-height: 14pt;
  margin: 0;
}
.list > li > p,
.list > li > div > p {
  font-size: 12pt;
  line-height: 14pt;
}
.list > li > p + p,
.list > li > div > p + p {
  margin-top: 6px;
}
.list > li + .button.action {
  margin-top: 40px;
}
/* ==============================
   List detail             
   ============================ */
.list > li > p {
  margin: 6px 16px 6px 0;
  font-size: 12pt;
  line-height: 14pt;
  color: #666666;
}
/* ==============================
   List title
   =========================== */
section h2 {
  font: normal 11pt/12pt 'Roboto Regular', SegoeWP, HelveticaNeue, Sans-serif;
  color: #4d4d4d;
  margin: 26px 0 6px 0;
  padding-left: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 6px;
}
section h2.normal-case {
  text-transform: none;
}
section h2.normal-case {
  text-transform: none;
}
html[dir=rtl] section h2 {
  padding-right: 16px;
}
html[dir=rtl] li {
  padding: 13px 10px 13px 10px;
}
html[dir=rtl] li > h3,
html[dir=rtl] li > h4 {
  text-align: right;
}
html[dir=rtl] li > p {
  margin-right: 0;
}
html[dir=rtl] .list > li.nav::after {
  right: auto;
  left: 16px;
  border: none;
  border-left: solid 3px #666666;
  border-bottom: solid 3px #666666;
}
html[dir=rtl] li.show-detail::after {
  left: 16px;
  right: auto;
}
/* ==============================
   Comp List Items          
   =========================== */
li.comp {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  -display: flex;
  -webkit-direction: row;
  -webkit-align-items: stretch;
  display: flex;
  direction: row;
  align-items: stretch;
  padding-bottom: 0;
}
li.comp.wrap > div > h3,
li.comp.wrap > div > h4 {
  white-space: wrap;
  overflow: visible;
}
li.comp > div {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  padding: 0 0 10px 0;
}
li.comp > div:first-child {
  padding: 8px 0 10px 0;
  min-width: 48%;
}
li.comp > div:first-child + aside > h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60%;
}
li.comp > div:first-child + aside > h4:nth-child(1) {
  max-width: 100% !important;
}
li.comp > div > div > h3,
li.comp > div > div > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto Thin', SegoeWP, HelveticaNeue, Sans-serif;
  font-weight: 200;
}
li.comp > div > h3 {
  font-family: 'Roboto Thin', SegoeWP, HelveticaNeue, Sans-serif;
  line-height: 18pt;
  margin: 0 0 10px 0;
  font-weight: 200;
}
li.comp > div > h4 {
  margin: 0;
}
li.comp > aside {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0 10px 0;
}
li.comp > aside:first-child {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-right: 10px;
  padding: 0 0px 10px 0px;
}
li.comp > aside > h4 {
  margin: 0;
  font-weight: normal;
  color: #666666;
}
li.comp > aside > label,
li.comp > aside > span {
  display: inline-block;
  margin-left: 6px;
}
li.comp > aside > .nav {
  display: block;
  width: 12px;
  height: 12px;
}
li.comp > aside > .nav::after {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  border-right: solid 3px #666666;
  border-top: solid 3px #666666;
  -webkit-transform: rotate(45deg) translate3d(2px, -2px, 0);
  -moz-transform: rotate(45deg) translate3d(2px, -2px, 0);
  transform: rotate(45deg) translate3d(2px, -2px, 0);
}
li.comp > aside > .show-detail {
  display: inline-block;
  margin-bottom: -4px;
}
li.comp > aside > .show-detail::after {
  content: 'i';
  display: block;
  width: 22px;
  height: 20px;
  border-radius: 20px;
  border: solid 1px #007aff;
  color: #007aff;
  font: bold 14px/0 Roboto, Times, serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 8px;
  float: right;
  margin: -20px 0 0 0;
}
li.comp:last-of-type > aside:last-child {
  border: none;
}
p {
  color: #707070;
  font-size: 12pt;
  line-height: 16pt;
}
html[dir=rtl] li.comp {
  padding: 13px 10px 13px 10px;
}
html[dir=rtl] li.comp > aside:first-child {
  margin-right: 0;
  padding: 0 0 10px 10px;
}
html[dir=rtl] li.comp > aside:last-child {
  margin-right: 10px;
}
html[dir=rtl] li.comp aside > span.counter,
html[dir=rtl] li.comp aside > span.date-time {
  margin-right: 5px;
  margin-left: 5px;
  white-space: nowrap;
}
html[dir=rtl] li.comp aside > span.nav {
  margin-left: 4px;
  margin-right: 0;
}
html[dir=rtl] li.comp aside > span.nav::after {
  right: auto;
  left: 16px;
  border: none;
  border-left: solid 3px #666666;
  border-bottom: solid 3px #666666;
}
html[dir=rtl] li.comp aside > h4 {
  margin-left: 5px;
  width: 90%;
}
html[dir=rtl] li.comp div > h3 + h4 {
  text-align: right !important;
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  li.comp > aside > h4 {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 480px) and (orientation: portrait) {
  li.comp > div:first-child + aside > h4:nth-child(1) {
    max-width: 45% !important;
    flex: 1;
  }
  li.comp > div:first-child + aside {
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    justify-content: flex-end;
  }
}
/* ==============================
   Grids
   =========================== */
/* Grid: */
.grid {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-align-items: stretch;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
/* Allow columns to wrap */
.grid.wrap {
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* Column: */
.col {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
/* Centered grids: */
.grid.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.center .col {
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-grow: 0;
  -ms-flex-shrink: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
/* Columns: */
.flex-1 {
  -webkit-flex-basis: 10%;
  -ms-flex-basis: 10%;
  flex-basis: 10%;
}
.flex-2 {
  -webkit-flex-basis: 20%;
  -ms-flex-basis: 20%;
  flex-basis: 20%;
}
.flex-3 {
  -webkit-flex-basis: 30%;
  -ms-flex-basis: 30%;
  flex-basis: 30%;
}
.flex-4 {
  -webkit-flex-basis: 40%;
  -ms-flex-basis: 40%;
  flex-basis: 40%;
}
.flex-5 {
  -webkit-flex-basis: 50%;
  -ms-flex-basis: 50%;
  flex-basis: 50%;
}
.flex-6 {
  -webkit-flex-basis: 60%;
  -ms-flex-basis: 60%;
  flex-basis: 60%;
}
.flex-7 {
  -webkit-flex-basis: 70%;
  -ms-flex-basis: 70%;
  flex-basis: 70%;
}
.flex-8 {
  -webkit-flex-basis: 80%;
  -ms-flex-basis: 80%;
  flex-basis: 80%;
}
.flex-9 {
  -webkit-flex-basis: 90%;
  -ms-flex-basis: 90%;
  flex-basis: 90%;
}
.flex-10 {
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}
.gutter-5 .col {
  margin: 5px;
}
.gutter-10 .col {
  margin: 10px;
}
body.isNativeAndroidBrowser .flex-1 {
  -webkit-box-flex: 1;
}
body.isNativeAndroidBrowser .flex-2 {
  -webkit-box-flex: 2;
}
body.isNativeAndroidBrowser .flex-3 {
  -webkit-box-flex: 3;
}
body.isNativeAndroidBrowser .flex-4 {
  -webkit-box-flex: 4;
}
body.isNativeAndroidBrowser .flex-5 {
  -webkit-box-flex: 5;
}
body.isNativeAndroidBrowser .flex-6 {
  -webkit-box-flex: 6;
}
body.isNativeAndroidBrowser .flex-7 {
  -webkit-box-flex: 7;
}
body.isNativeAndroidBrowser .flex-8 {
  -webkit-box-flex: 8;
}
body.isNativeAndroidBrowser .flex-9 {
  -webkit-box-flex: 9;
}
body.isNativeAndroidBrowser .flex-10 {
  -webkit-box-flex: 10;
}
html[dir=rtl] .grid {
  -webkit-box-direction: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* ==============================
   Segmented Control
   =========================== */
.segmented:not(.paging) {
  display: -moz-box;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px 10px;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
}
.segmented:not(.paging).align-flush {
  position: absolute;
  right: 15px;
  top: 4px;
}
.segmented:not(.paging) > button {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: solid 1px #979797;
  text-align: center !important;
  border-left: none;
  border-right: solid 1px #979797;
  box-shadow: none;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  margin: 0px !important;
  padding: 6px 10px 0px !important;
  border-radius: 0;
}
.segmented:not(.paging) > button:first-of-type {
  border-left: solid 1px #979797;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.segmented:not(.paging) > button:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.isDesktop .segmented:not(.paging) > button:hover,
.segmented:not(.paging) > button.selected {
  background-color: #007aff;
  opacity: 1 !important;
  box-shadow: none;
  color: #ffffff;
}
div.horizontal.centered > .segmented {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  margin: 10px 16px;
  width: 100%;
}
html[dir=rtl] .segmented.align-flush {
  left: 15px;
  right: auto;
}
html[dir=rtl] .segmented:not(.paging) > button {
  border-radius: 0px;
}
html[dir=rtl] .segmented:not(.paging) > button:first-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
}
html[dir=rtl] .segmented:not(.paging) > button:last-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-left: solid 1px #979797;
}
/* ==============================
   Segmented Paging Control
   =========================== */
.isNativeAndroidBrowser .segmented.paging {
  top: 0px !important;
}
.segmented.paging > button {
  top: 4px;
  background: none !important;
}
.segmented.paging.horizontal > button {
  border: none !important;
  background-color: none !important;
  margin: 0 !important;
  width: 30px !important;
  height: 40px !important;
}
.segmented.paging.horizontal > button:first-of-type::before,
html[dir=rtl] .segmented.paging.horizontal > button:last-of-type::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-left: solid 3px #000000;
  border-top: solid 3px #000000;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: 14px;
}
.segmented.paging.horizontal > button:last-of-type::before,
html[dir=rtl] .segmented.paging.horizontal > button:first-of-type::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0 !important;
  border-right: solid 3px #000000;
  border-bottom: solid 3px #000000;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  right: 16px;
}
html[dir=rtl] .segmented.paging.horizontal > button:last-of-type::before {
  border-right: none;
  border-bottom: none;
  right: 6px !important;
  left: 0px !important;
}
html[dir=rtl] .segmented.paging.horizontal > button:first-of-type::before {
  border-left: none;
  border-top: none;
}
.segmented.paging.vertical {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.segmented.paging.vertical > button {
  margin: 0 !important;
  background-color: none !important;
}
.segmented.paging.vertical > button:first-of-type::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-right: solid 3px #000000;
  border-bottom: solid 3px #000000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 6px;
  left: 10px;
}
.segmented.paging.vertical > button:last-of-type::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-right: solid 3px #000000;
  border-top: solid 3px #000000;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 17px;
  left: 10px;
}
article.paging > section {
  position: fixed;
  width: 100%;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  padding: 10px 0 40px 0 !important;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
}
article.paging.horizontal > section.previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
article.paging.horizontal > section.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
article.paging.horizontal > section.next {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
article.paging.vertical > section.previous {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
article.paging.vertical > section.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
article.paging.vertical > section.next {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
html[dir=rtl] .segmented.paging.horizontal {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  display: -webkit-flex;
}
html[dir=rtl] .segmented.paging.horizontal button:first-child {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 2;
  order: 2;
  float: right;
}
html[dir=rtl] .segmented.paging.horizontal button:last-child {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  order: 1;
}
html[dir=rtl] article.paging.horizontal > section.previous {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
html[dir=rtl] article.paging.horizontal > section.next {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
html[dir=rtl] article.paging.horizontal > section.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] .isNativeAndroidBrowser .segmented.paging.horizontal > button:last-of-type {
  -webkit-box-ordinal-group: 2;
  float: left;
}
html[dir=rtl] .isNativeAndroidBrowser .segmented.paging.horizontal > button:first-of-type {
  -webkit-box-ordinal-group: 1;
}
/* ==============================
   Toolbar Styles
   =========================== */
.toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box !important;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  padding: 0 16px;
  vertical-align: middle;
  background-color: #eaeaea;
  overflow: hidden;
  border-top: solid 1px #666666;
}
.toolbar > button {
  color: #000000 !important;
}
.toolbar > button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.toolbar > button.align-flush {
  top: 5px !important;
}
.splitlayout > .master + .toolbar {
  left: 0;
  width: 320px;
  border-right: solid 1px #c8c8c7 !important;
}
.splitlayout > .detail + .toolbar {
  left: 320px;
}
article.has-toolbar {
  bottom: 50px !important;
}
div.toolbar.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
div.toolbar.next {
  -webkit-transform: translate3d(105%, 0, 0);
  -moz-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
div.toolbar.previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
html[dir=rtl] div.toolbar.current {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
html[dir=rtl] div.toolbar.next {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
html[dir=rtl] div.toolbar.previous {
  -webkit-transform: translate3d(105%, 0, 0);
  -moz-transform: translate3d(105%, 0, 0);
  transform: translate3d(105%, 0, 0);
}
html[dir=rtl] .splitlayout > .master + .toolbar {
  right: 0;
  left: 320px;
  width: 320px;
  border-right: none;
  border-left: solid 1px #c8c8c7 !important;
}
html[dir=rtl] .splitlayout > .detail + .toolbar {
  right: 320px;
  left: 0;
}
/* ==============================
   Split Layout Styles
   =========================== */
body.splitlayout {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.splitlayout > nav {
  background-color: #eaeaea;
  border-bottom: solid 1px #a7a7aa;
}
.splitlayout > nav:first-of-type {
  width: 320px;
  border-right: solid 1px #c8c8c7 !important;
}
.splitlayout > nav:last-of-type {
  left: 320px;
}
.splitlayout > nav h1 {
  z-index: auto;
  text-align: left;
}
.splitlayout > article.master {
  top: 50px;
  left: 0;
  bottom: 0;
  right: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
  border-right: solid 1px #c8c8c7 !important;
}
.splitlayout > article.detail {
  top: 50px;
  left: 320px !important;
  bottom: 0;
  left: 0;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
}
.master .list > li.selected {
  background-color: #d9d9d9;
}
html[dir=rtl] body.splitlayout > nav:first-of-type {
  right: 0;
  left: 320px;
  border-right: none;
  border-left: solid 1px #c8c8c7 !important;
}
html[dir=rtl] body.splitlayout > nav:last-of-type {
  left: 0;
  right: 320px;
}
html[dir=rtl] body.splitlayout > nav > h1 {
  text-align: right;
}
html[dir=rtl] body.splitlayout > article.master {
  left: 320px !important;
  right: 0 !important;
  border-right: none !important;
  border-left: solid 1px #c8c8c7 !important;
}
html[dir=rtl] body.splitlayout > article.detail {
  right: 320px !important;
  left: 0 !important;
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  .splitlayout > article.master {
    right: 260px !important;
  }
  .splitlayout > article.detail {
    left: 260px !important;
  }
  .splitlayout > nav:first-of-type {
    width: 260px !important;
  }
  .splitlayout > nav:last-of-type {
    left: 260px !important;
  }
}
/* ==============================
   Mask Control
   =========================== */
.mask {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: pointer;
}
/* ==============================
   Busy Control
   =========================== */
.busy {
  -webkit-animation: spin 1.77s infinite ease-out;
  -webkit-transform-origin: center center;
  display: block;
  position: absolute;
}
section > .busy {
  margin: auto;
  left: calc(40%);
}
.busy circle {
  -webkit-transform-origin: center center;
  fill: none;
  stroke: #4288ef;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 0.001, 180;
  stroke-dashoffset: 0;
  -webkit-animation: loading 1.5s infinite ease-out;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    stroke-dasharray: 0.001, 180;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 140,140;
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dasharray: 180, 180;
    stroke-dashoffset: -179;
  }
}
:not(.isNativeAndroidBrowser) .busy {
  -webkit-animation: spin 2s infinite linear;
}
html[dir=rtl] .busy.align-flush {
  left: 10px !important;
  right: auto !important;
  float: left !important;
}
/* ==============================
   Popover Control
   =========================== */
.popover {
  width: 300px;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px #000000;
  border-radius: 4px;
  height: 250px;
  max-height: 300px;
  position: absolute;
  z-index: 111111;
  margin-top: 10px;
}
.popover header {
  display: none;
}
.popover > section {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0;
  position: absolute;
  top: 4px;
  bottom: 4px;
  width: 100%;
  padding-bottom: 20px;
}
.isDesktop .popover .list > li:hover,
.isDesktop .popover .list > li.selected {
  background-color: #007aff !important;
  color: #ffffff !important;
}
.isDesktop .popover .list > li:hover h3,
.isDesktop .popover .list > li.selected h3,
.isDesktop .popover .list > li:hover h4,
.isDesktop .popover .list > li.selected h4 {
  color: #ffffff !important;
}
button.show-popover {
  position: relative;
  background-color: transparent !important;
  border: none !important;
  padding: 6px 20px 2px 20px !important;
  margin: 0 10px 0 0 !important;
  box-shadow: none !important;
  font-size: 13px !important;
}
button.show-popover.align-flush {
  position: absolute;
}
button.show-popover.selected {
  background-color: #007aff;
}
.segmented > button.show-popover:first-of-type {
  border-left: none !important;
}
button.show-popover::after {
  content: '';
  display: block;
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 0px;
  height: 0px;
  border-right: solid 6px #000000;
  border-bottom: solid 6px #000000;
  border-top: solid 6px transparent;
  border-left: solid 6px transparent;
}
nav > button.show-popover::after {
  border-right: solid 6px #000000;
  border-bottom: solid 6px #000000;
}
nav > h1 + button.show-popover.align-flush {
  margin: 8px 0 0 0 !important;
}
html[dir=rtl] button.show-popover {
  padding: 6px 10px 2px 20px !important;
}
html[dir=rtl] button.show-popover::after {
  left: 2px;
  right: auto;
  border: none;
  border-left: solid 6px #000000;
  border-bottom: solid 6px #000000;
  border-top: solid 6px transparent;
  border-right: solid 6px transparent;
}
html[dir=rtl] button.show-popover + button {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
}
html[dir=rtl] .isDesktop .button.show-popover:hover::after {
  border-left: solid 6px #000000 !important;
  border-bottom: solid 6px #000000;
  border-top: solid 6px transparent;
  border-right: solid 6px transparent;
}
/* ==============================
   Popup Control
   =========================== */
.isNativeAndroidBrowser .popup {
  box-shadow: 0 0 6px 4px #666;
}
.isNativeAndroidBrowser .popup > .panel > header {
  padding-top: 1px;
}
.popup {
  display: block;
  -webkit-box-sizeing: border-box;
  width: 320px;
  padding: 1px;
  background-color: #ffffff;
  position: absolute;
  z-index: 10000;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 6px 4px #888888;
  border-radius: 3px;
}
.popup.opened {
  display: block;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.popup > .panel {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 4px 16px;
}
.popup > .panel > header,
.popup > .panel > footer {
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -moz-box-pack: justify;
  -webkit-justify-content: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.popup > .panel > header > h1 {
  position: static;
  text-align: center;
  margin: 0 15px;
  line-height: 32pt;
  font-weight: bold;
}
.popup > footer {
  width: 320px;
  padding: 0;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal !important;
  -moz-box-orient: horizontal !important;
  -webkit-flex-direction: row !important;
  flex-direction: row !important;
}
.popup > footer > button {
  display: block !important;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  line-height: 30pt;
  background-color: #ffffff;
  color: #666666;
  font-size: 12pt;
  padding-top: 4px;
  max-width: 320px !important;
  margin: 0 !important;
}
.popup > footer > button + button {
  border-left: solid 1px #cbcbcb;
}
.isDesktop .popup > footer > button:hover {
  box-shadow: none;
  background-color: #298fff;
  color: #ffffff;
}
.popup > p {
  padding: 0 15px;
  text-align: center;
}
.popup button {
  border-top: solid 1px #cbcbcb;
  box-shadow: none;
}
html[dir=rtl] .popup > footer button {
  border-top: solid 1px #cbcbcb;
}
html[dir=rtl] .popup > footer button:first-child {
  border-left: solid 1px #cbcbcb;
}
html[dir=rtl] .popup > footer button:first-child + button {
  border-left: none;
}
/* ============================== 
   Deletable Lists
   =========================== */
.list.editable > li,
.list.deletable > li {
  overflow: hidden;
}
.list.editable > li > .move-up,
.list.deletable > li > .move-up,
.list.editable > li > .move-down,
.list.deletable > li > .move-down {
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  float: right;
  margin-top: -20px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-transform: translate3d(100px, 0, 0);
  -moz-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
.list.editable > li > .move-up::before,
.list.deletable > li > .move-up::before,
.list.editable > li > .move-down::before,
.list.deletable > li > .move-down::before {
  display: block;
  content: '';
  width: 21px;
  height: 21px;
  position: absolute;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22367px%22%20height%3D%22367px%22%20viewBox%3D%220%200%20367%20367%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22Sortable%22%20transform%3D%22translate%2813.000000,%2013.000000%29%22%20stroke%3D%22%23007aff%22%20stroke-width%3D%2225%22%3E%3Ccircle%20id%3D%22Oval-1%22%20cx%3D%22170.5%22%20cy%3D%22170.5%22%20r%3D%22170.5%22%3E%3C/circle%3E%3Cpath%20d%3D%22M55.3736267,209.778395%20L172.745285,100.706186%20L286.306656,209.611568%22%20id%3D%22Path-2%22%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.list.editable > li > .move-down,
.list.deletable > li > .move-down {
  margin-right: 10px !important;
}
.list.editable > li:first-of-type > .move-up,
.list.deletable > li:first-of-type > .move-up {
  opacity: .35;
}
.list.editable > li:last-of-type > .move-down,
.list.deletable > li:last-of-type > .move-down {
  opacity: .35;
}
.deletion-indicator {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 5px 13px 1px;
  width: 24px;
  height: 24px;
  border: solid 2px #007aff;
  position: absolute;
  top: 14px;
  left: -32px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  cursor: pointer;
}
.isDesktop .deletion-indicator:hover,
li.selected > .deletion-indicator {
  color: #004999 !important;
  background-color: #007aff;
  box-shadow: 0 0 3px 1px rgba(0, 122, 255, 0.5);
  border-color: #007aff;
}
li.selected > .deletion-indicator::before {
  content: '';
  display: block !important;
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22140px%22%20height%3D%22144px%22%20viewBox%3D%220%200%20140%20144%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M47.9487979,122.136928%20L92.9487978,122.136928%20L92.9487978,22.1369286%20L81.3308475,22.1369281%20L81.3308475,109.597461%20L47.9487979,109.597462%20L47.9487979,122.136928%20Z%22%20id%3D%22Rectangle-1%22%20fill%3D%22%23ffffff%22%20transform%3D%22translate%2870.448798,%2072.136929%29%20rotate%2835.000000%29%20translate%28-70.448798,%20-72.136929%29%20%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 24pt;
  position: relative;
  top: 1px;
  left: -1px;
}
.isAndroid li.selected > .deletion-indicator::before {
  margin: -6px 0 0 -2px !important;
}
.isDesktopChrome li.selected > .deletion-indicator::before {
  margin: -7px 0 0 -2px !important;
}
.list.showIndicators .deletion-indicator {
  margin-left: 40px;
}
.list.showIndicators li {
  padding-left: 38px;
}
.list.showIndicators li > h3 {
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list.showIndicators li .move-up {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.list.showIndicators li .move-down {
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
  -moz-transform: translate3d(0, 0, 0) rotate(180deg);
  transform: translate3d(0, 0, 0) rotate(180deg);
}
.list.showIndicators > li.selected > .move-up {
  margin-right: 60px;
}
.list.showIndicators > li.selected > .move-down {
  margin-right: 100px;
}
button.delete {
  float: right;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  -webkit-transform: translate3d(60px, 0, 0);
  -moz-transform: translate3d(60px, 0, 0);
  transform: translate3d(60px, 0, 0);
  visibility: hidden;
  cursor: pointer;
  font-weight: 200;
  margin-right: 0 !important;
  color: transparent;
  background-color: #eeeeee;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2283px%22%20height%3D%22108px%22%20viewBox%3D%220%200%2083%20108%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20id%3D%22Rectangle-1%22%20fill%3D%22%233A3A3A%22%20x%3D%225%22%20y%3D%2224%22%20width%3D%2272%22%20height%3D%2284%22%20rx%3D%228%22%3E%3C/rect%3E%3Cpath%20d%3D%22M-0.411132812,17.9316406%20L-0.411132812,6.22558594%20L20.1357422,6.48730469%20L25.3134766,0.25390625%20L57.4667969,0.25390625%20L62.6025391,6.48730469%20L82.9248047,6.48730469%20L82.9248047,17.8554688%20L-0.411132812,17.9316406%20Z%22%20id%3D%22Path-1%22%20fill%3D%22%233A3A3A%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: auto 20px;
  background-repeat: no-repeat;
  box-shadow: inset 2px 2px 2px #bbbbbb;
  border-radius: 0;
  border-bottom: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  -webkit-animation-name: 'none' !important;
  animation-name: 'none' !important;
}
button.delete > label {
  display: none;
}
li.selected > button.delete {
  display: block;
}
li.selected > button.delete {
  visibility: visible;
  -webkit-transform: translate3d(-10px, 0, 0);
  -moz-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
html[dir=rtl] .list.editable li > .move-up,
html[dir=rtl] .list.deletable li > .move-up {
  float: left !important;
  -webkit-transform: translate3d(-100px, 0, 0);
  -moz-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
html[dir=rtl] .list.editable li > .move-down,
html[dir=rtl] .list.deletable li > .move-down {
  float: left !important;
  -webkit-transform: translate3d(-140px, 0, 0) rotate(180deg);
  -moz-transform: translate3d(-140px, 0, 0) rotate(180deg);
  transform: translate3d(-140px, 0, 0) rotate(180deg);
}
html[dir=rtl] .list.editable.showIndicators .deletion-indicator,
html[dir=rtl] .list.deletable.showIndicators .deletion-indicator {
  margin-left: auto;
  margin-right: 50px;
}
html[dir=rtl] .list.editable.showIndicators li,
html[dir=rtl] .list.deletable.showIndicators li {
  padding-left: 0;
  padding-right: 40px;
}
html[dir=rtl] .list.editable.showIndicators li > button.delete,
html[dir=rtl] .list.deletable.showIndicators li > button.delete {
  float: left !important;
  left: 0;
  right: auto;
  -webkit-transform: translate3d(-60px, 0, 0);
  -moz-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
  border-right: none;
  border-left: 1px solid #bbbbbb !important;
  box-shadow: inset -2px 2px 2px #bbbbbb;
}
html[dir=rtl] .list.editable.showIndicators li.selected > button.delete,
html[dir=rtl] .list.deletable.showIndicators li.selected > button.delete {
  -webkit-transform: translate3d(-10px, 0, 0);
  -moz-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
html[dir=rtl] .list.editable.showIndicators li > .move-up,
html[dir=rtl] .list.deletable.showIndicators li > .move-up {
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
html[dir=rtl] .list.editable.showIndicators li > .move-down,
html[dir=rtl] .list.deletable.showIndicators li > .move-down {
  -webkit-transform: translate3d(20px, 0, 0) rotate(180deg) !important;
  -moz-transform: translate3d(20px, 0, 0) rotate(180deg) !important;
  transform: translate3d(20px, 0, 0) rotate(180deg) !important;
}
html[dir=rtl] .list.editable.showIndicators li.selected > .move-up,
html[dir=rtl] .list.deletable.showIndicators li.selected > .move-up {
  -webkit-transform: translate3d(90px, 0, 0) !important;
  -moz-transform: translate3d(90px, 0, 0) !important;
  transform: translate3d(90px, 0, 0) !important;
}
html[dir=rtl] .list.editable.showIndicators li.selected > .move-down,
html[dir=rtl] .list.deletable.showIndicators li.selected > .move-down {
  -webkit-transform: translate3d(45px, 0, 0) rotate(180deg) !important;
  -moz-transform: translate3d(45px, 0, 0) rotate(180deg) !important;
  transform: translate3d(45px, 0, 0) rotate(180deg) !important;
}
html[dir=rtl] .deletion-indicator {
  right: -40px;
  left: auto;
}
/* ==============================
   Form Styles
   =========================== */
input[type=text],
input[type=email],
input[type=password],
input[type=text],
input[type=url],
input[type=number],
textarea {
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  /* Create the bracket around inputs: */
  background-image: -webkit-linear-gradient(left, #888888, #888888);
  background-image: linear-gradient(left, #888888, #888888);
  background-size: 100% 1px;
  background-position: bottom left;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0 0 2px 5px;
  color: #888888;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-style: none;
}
input:focus,
textarea:focus {
  outline: none !important;
  /* Create the bracket around inputs: */
  background-image: -webkit-linear-gradient(left, #007aff, #007aff);
  background-image: linear-gradient(left, #007aff, #007aff);
  background-size: 100% 2px;
}
.isAndroid:not(.isDesktop) .select-box > select {
  opacity: 1;
  position: absolute;
  left: -100000px;
  -wekbit-appearance: none;
}
.isDesktop .select-box > select {
  max-width: 120px;
}
.select-box-label {
  border: solid 1px #888888;
  padding: 2px 30px 2px 10px;
  font-size: 11px;
  background-image: -webkit-linear-gradient(top, #888888, #888888);
  background-position: top right;
  background-size: 20px 100%;
  background-repeat: no-repeat;
  height: 20px;
  box-sizing: border-box;
  min-width: 100px;
  max-width: 160px;
  width: auto;
  cursor: pointer;
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.select-box-label::after {
  content: '';
  display: block;
  height: 10px;
  width: 1px;
  border-top: solid 7px #fff;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  position: absolute;
  top: 6px;
  right: 5px;
}
.isDesktop .select-box-label {
  display: none !important;
}
section > div.searchBar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  padding: 5px 10px;
}
input[type="search"] {
  display: block;
  padding: 7px 0 7px 5px;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  /* Create the bracket around inputs: */
  background-image: -webkit-linear-gradient(left, #888888, #888888);
  background-image: linear-gradient(left, #888888, #888888);
  background-size: 100% 1px;
  background-position: bottom left;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0 0 2px 5px;
  color: #888888;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-style: none;
}
input[type="search"]:focus {
  text-align: left;
  outline: none;
  outline: none !important;
  /* Create the bracket around inputs: */
  background-image: -webkit-linear-gradient(left, #81cfeb, #81cfeb), -webkit-linear-gradient(left, #81cfeb, #81cfeb), -webkit-linear-gradient(left, #81cfeb, #81cfeb);
  background-image: linear-gradient(left, #81cfeb, #81cfeb), linear-gradient(left, #81cfeb, #81cfeb), linear-gradient(left, #81cfeb, #81cfeb);
}
/* ==============================
   Icon Styles
   =========================== */
/*
  Put a class or id on each icon.
  The use a png or svg image as 
  a background image. Apply a
  background color too.
  See page article of demo
  paging control for example.
*/
.icon {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
  border-radius: 50%;
}
li > aside > span.icon {
  margin-left: 0;
}
/* ==============================
   Range Control
   =========================== */
input[type="range"] {
  -webkit-appearance: none !important;
  outline: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: 2px;
  border-radius: 2px;
  background-color: #aaaaaa;
  background-image: -webkit-linear-gradient(top, #007aff, #007aff);
  background-size: 0px 2px;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  margin: 0;
  background-color: #007aff;
  border: solid 1px transparent;
}
input[type="range"]:focus::-webkit-slider-thumb,
.isDesktop input[type="range"]::-webkit-slider-thumb:hover {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%22102px%22%20height%3D%22102px%22%20viewBox%3D%220%200%20102%20102%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22range-thumb%22%20transform%3D%22translate%281.000000,%201.000000%29%22%3E%3Ccircle%20id%3D%22Oval-1%22%20stroke%3D%22%23007aff%22%20stroke-width%3D%222%22%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%3E%3C/circle%3E%3Ccircle%20id%3D%22Oval-2%22%20fill-opacity%3D%220.598698103%22%20fill%3D%22%23007aff%22%20cx%3D%2249.5%22%20cy%3D%2249.5%22%20r%3D%2232.5%22%3E%3C/circle%3E%3Ccircle%20id%3D%22Oval-3%22%20fill%3D%22%23007aff%22%20cx%3D%2249.5%22%20cy%3D%2249.5%22%20r%3D%2213.5%22%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.isDesktop input[type="range"]::-webkit-slider-thumb:hover::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-color: #007aff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.isNativeAndroidBrowser input[type="range"] {
  -webkit-appearance: none !important;
  outline: none;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: 2px;
  border-radius: 2px;
  background-color: #aaaaaa;
  background-image: -webkit-linear-gradient(top, #0062cc, #0062cc);
  background-size: 0px 2px;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0;
}
.isNativeAndroidBrowser input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 0;
  background-color: transparent;
  background-image: -webkit-radial-gradient(#0053ad 4px, rgba(0, 102, 214, 0.8) 4px);
  border: solid 1px #0053ad;
}
.isNativeAndroidBrowser input[type="range"]:focus::-webkit-slider-thumb,
.isNativeAndroidBrowser .isDesktop input[type="range"]::-webkit-slider-thumb:hover {
  background-image: -webkit-radial-gradient(#0053ad 4px, rgba(0, 122, 255, 0.5) 4px);
}
html[dir=rtl] input[type="range"] {
  background-position: right center;
}
html[dir=rtl] body.isNativeAndroidBrowser input[type="range"] {
  background-position: left center;
}
/* ============================== 
   Select List
   =========================== */
.isDesktop .list.select li:hover {
  background-color: #007aff;
}
.isDesktop .list.select li:hover::after {
  background-color: #007aff;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  opacity: 1;
  box-shadow: 0 0 0 3px #007aff, inset 0 0px 0px 3px #ffffff;
}
.list.select li.selected {
  color: #000000;
}
.list.select li.selected::after {
  background-color: #007aff;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  opacity: 1;
  box-shadow: 0 0 0 3px #007aff, inset 0 0px 0px 3px #ffffff;
}
.list.select li.selected *,
.isDesktop .list.select li:hover * {
  color: #000000;
}
.list.select li::after {
  content: '';
  display: block;
  float: right;
  margin-top: -25px;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.125s ease-in-out;
  -moz-transition: all 0.125s ease-in-out;
  transition: all 0.125s ease-in-out;
  opacity: 1;
  border: solid 2px #525252;
  border-radius: 15px;
}
.list.select li > input {
  display: none;
}
html[dir=rtl] .list.select li::after {
  float: left;
}
/* ==============================
   Sheet Control
   =========================== */
.sheet {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(240, 240, 240, 0.9);
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  display: none;
}
.sheet.opened {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sheet.opened > section.scroller-vertical {
  top: 36px;
  padding: 10px 0 100px 0 !important;
}
.sheet > section.scroller-vertical {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  right: 0;
  padding: 0 !important;
}
.sheet > section > .list {
  border: none;
  background-color: transparent !important;
}
.sheet > section > .list > li {
  background-color: transparent !important;
  border-bottom: solid 1px #cbcbcb;
}
.sheet > section > .list > li::before {
  content: none;
}
.sheet button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px !important;
  width: auto;
  height: auto;
}
.sheet div.handle {
  display: block;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 29pt;
  background-color: rgba(0, 0, 0, 0.001);
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2294px%22%20height%3D%2237px%22%20viewBox%3D%220%200%2094%2037%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%281.000000,%201.000000%29%22%20id%3D%22Artboard-1%22%20fill%3D%22%23666666%22%3E%3Cpath%20d%3D%22M46,10.1317773%20L4.17415422,35.2632809%20L-0.46118846,27.5487752%20L45.8258458,-0.2632809%20L46,0.0265604%20L46.1741542,-0.2632809%20L92.4611885,27.5487752%20L87.8258458,35.2632809%20L46,10.1317773%20L46,10.1317773%20Z%22%20id%3D%22Rectangle-2%22%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: auto 40%;
  background-repeat: no-repeat;
  margin: 10px auto 0;
}
.isDesktop .sheet div.handle:hover {
  background-color: #007aff;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2294px%22%20height%3D%2237px%22%20viewBox%3D%220%200%2094%2037%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate%281.000000,%201.000000%29%22%20id%3D%22Artboard-1%22%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M46,10.1317773%20L4.17415422,35.2632809%20L-0.46118846,27.5487752%20L45.8258458,-0.2632809%20L46,0.0265604%20L46.1741542,-0.2632809%20L92.4611885,27.5487752%20L87.8258458,35.2632809%20L46,10.1317773%20L46,10.1317773%20Z%22%20id%3D%22Rectangle-2%22%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.isNativeAndroidBrowser .sheet div.handle {
  background-size: 20% auto;
}
html[dir=rtl] .sheet > section > h2 {
  font-weight: bold !important;
  font-size: 16pt !important;
  line-height: 20pt !important;
}
/* ==============================
   Slide Out
   =========================== */
body.isNativeAndroidBrowser .slide-out {
  visibility: visible;
}
.slide-out {
  position: absolute;
  top: 52px;
  left: 0;
  bottom: 0;
  background-color: #fafafa;
  z-index: 111111111;
  width: 100%;
  visibility: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.slide-out.open {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slide-out > section {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
button.slide-out-button {
  position: absolute;
  z-index: 1111111;
  top: 5px;
  left: 15px;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  padding: 0 !important;
  margin-left: 0;
}
button.slide-out-button::before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2281px%22%20height%3D%2260px%22%20viewBox%3D%220%200%2081%2060%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22slideout%22%20fill%3D%22%23000000%22%3E%3Crect%20id%3D%22Rectangle%22%20x%3D%228%22%20y%3D%220%22%20width%3D%2264.167%22%20height%3D%227.666%22%3E%3C/rect%3E%3Crect%20id%3D%22Rectangle%22%20x%3D%228%22%20y%3D%2226%22%20width%3D%2264.167%22%20height%3D%227.667%22%3E%3C/rect%3E%3Crect%20id%3D%22Rectangle%22%20x%3D%228%22%20y%3D%2252%22%20width%3D%2264.167%22%20height%3D%227.666%22%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: 70% 70%;
  background-repeat: no-repeat;
}
body.slide-out-app > article {
  display: none !important;
}
body.slide-out-app > article.show {
  display: block !important;
  z-index: 100;
}
body.slide-out-app > nav.show:not(:first-of-type) {
  display: block !important;
  z-index: 100;
}
body.slide-out-app > nav:not(:first-of-type) {
  display: none !important;
}
.slideout-header {
  background-color: #fafafa !important;
  border-bottom: none !important;
}
.slideout-header h2 {
  margin-left: 0;
  color: #4d4d4d !important;
}
html[dir=rtl] button.slide-out-button {
  right: 5px !important;
  left: auto !important;
}
html[dir=rtl] .slide-out {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
html[dir=rtl] .slide-out.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* ==============================
   Stepper Control
   =========================== */
.stepper {
  display: -moz-box;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 1px;
}
.stepper > input {
  margin: 0;
  display: none;
}
.stepper > label {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #cbcbcb;
  width: 40px;
  height: 30px;
  font: bold 16px/30px Helvetica;
  text-align: center;
  background-color: #ffffff;
}
.stepper > button {
  display: inline-box;
  width: 30px;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  cursor: pointer !important;
  margin: 0;
  box-shadow: none;
  border: solid 1px #cbcbcb;
  padding: 0 !important;
  border-radius: 0;
}
.stepper > button > span {
  font-size: inherit;
  font-weight: inherit;
}
.isDesktop .stepper > button:hover {
  box-shadow: none !important;
}
.stepper > button:first-of-type {
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.stepper > button:last-of-type {
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
body:not(.isDesktop) .stepper > button:last-of-type {
  padding-top: 4px !important;
}
html[dir=rtl] .stepper > button:first-of-type {
  border-left: none;
  border-right: solid 1px #cbcbcb;
  border-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
html[dir=rtl] .stepper > button:last-of-type {
  border-right: none;
  border-left: solid 1px #cbcbcb;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
html[dir=rtl] body.isNativeAndroidBrowser .stepper > button > span {
  padding-right: 8px;
}
/* ==============================
   Switched List Items        
   =========================== */
li.switched {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  box-direction: reverse;
}
li.switched h3 {
  width: auto;
  font-size: 13pt;
  line-height: 24pt;
  color: #007aff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
li.switched h4 {
  width: 48%;
  text-align: right;
  margin-right: 10px;
  font-size: 14pt;
  line-height: 24pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50%;
}
html[dir=rtl] li.switched h3 {
  text-align: right;
  width: 50%;
}
html[dir=rtl] li.switched h4 {
  text-align: left;
  margin-left: 10px;
}
/* ==============================
   Switch
   =========================== */
.switch {
  display: inline-block;
  width: 40px;
  height: 20px;
  display: -moz-box;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: justify;
  -webkit-justify-content: distribute;
  justify-content: space-around;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(left, #007aff, #007aff), -webkit-linear-gradient(left, #888888, #888888);
  background-image: linear-gradient(to left, #007aff, #007aff), linear-gradient(to left, #888888, #888888);
  background-position: left 10px, left 10px;
  background-size: 0% 2px, 100% 2px;
  background-repeat: no-repeat, no-repeat;
  -webkit-tap-highlight-color: transparent;
  overflow: visible;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-animation-duration: .65s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: switchAnimationOff;
  user-select: none;
  animation-duration: .65s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: switchAnimationOff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.switch.traditional {
  width: 70px;
  height: 24px;
  border: 1px solid #979797;
  background-color: #fafafa;
  background-image: none;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.switch.traditional > em {
  width: 30px;
  height: 22px;
  top: -1px;
  border-radius: 0;
  border: solid 1px #919191;
  border-top: solid 1px #e5e5e5;
  background-color: #cecece;
}
.isDesktop .switch.traditional:hover {
  box-shadow: 0 0 2px 2px #007aff;
}
.switch > em {
  display: block;
  position: relative;
  z-index: 30;
  top: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 2px #888888;
  pointer-events: none;
  -webkit-transform: translate3d(-1px, 0, 0);
  -moz-transform: translate3d(-1px, 0, 0);
  transform: translate3d(-1px, 0, 0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.switch.on {
  background-size: 100% 2px, 100% 2px;
}
.switch.on > em {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  transform: translate3d(20px, 0, 0);
  background-color: #007aff;
  border: solid 2px #007aff;
}
.switch.traditional.on {
  border-color: #003166;
  background-size: 100% 100%;
}
.switch.traditional.on > em {
  -webkit-transform: translate3d(36px, 0, 0);
  -moz-transform: translate3d(36px, 0, 0);
  transform: translate3d(36px, 0, 0);
  background-color: #007aff;
  border: solid 1px #007aff;
  border-top: solid 1px #3d9aff;
  border-left-color: #003166;
}
.switch > input {
  display: none;
}
html[dir=rtl] .switch {
  margin-left: 0;
}
html[dir=rtl] .switch.on > em {
  -webkit-transform: translate3d(-20px, 0, 0);
  -moz-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
}
html[dir=rtl] .switch.on > em.traditional {
  border-left-color: #007aff;
  border-right-color: #003166;
}
html[dir=rtl] .switch > em {
  -webkit-transform: translate3d(2px, 0, 0);
  -moz-transform: translate3d(2px, 0, 0);
  transform: translate3d(2px, 0, 0);
}
/* ==============================
   Tab Bar
   =========================== */
body.hasTabBar article {
  top: 77px !important;
}
body.hasTabBar article .previous:not(.navigable),
body.hasTabBar article .next:not(.navigable) {
  display: none;
  -webkiit-transform: none;
}
.tabbar {
  /* Old syntax */
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  position: absolute;
  left: 0;
  top: 47px;
  right: 0;
  background-color: #cecece;
}
.tabbar > button {
  color: #000000;
  background-color: #cecece;
  position: relative;
  display: block !important;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
  margin: 0;
  height: 100%;
  text-align: center;
  line-height: 17px;
  padding: 6px 10px 4px;
  border: none;
  border-bottom: solid 3px #cecece;
  border-right: solid 1px #666666;
  box-shadow: none;
  border-radius: 0 !important;
}
.tabbar > button:last-of-type {
  border-right: none;
  border-left: none;
}
.isDesktop .tabbar > button:hover {
  opacity: 1 !important;
  box-shadow: none !important;
  border-bottom: solid 3px #007aff;
  background-color: #007aff !important;
  color: #ffffff !important;
}
.tabbar > button.selected {
  color: #666666 !important;
  opacity: 1 !important;
  box-shadow: none !important;
  border-bottom: solid 3px #007aff;
}
.tabbar > button.more {
  font-size: 0;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.tabbar > button.more::before {
  content: '';
  display: block;
  height: 20px;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2239px%22%20height%3D%2211px%22%20viewBox%3D%220%200%2039%2011%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22more%22%20fill%3D%22%23666666%22%3E%3Ccircle%20id%3D%22Oval%22%20cx%3D%225.172%22%20cy%3D%225.172%22%20r%3D%225.172%22%3E%3C/circle%3E%3Ccircle%20id%3D%22Oval%22%20cx%3D%2219.172%22%20cy%3D%225.172%22%20r%3D%225.172%22%3E%3C/circle%3E%3Ccircle%20id%3D%22Oval%22%20cx%3D%2233.172%22%20cy%3D%225.172%22%20r%3D%225.172%22%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: 40% 40%;
  background-repeat: no-repeat;
}
.tabbar > button.more:hover::before {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2239px%22%20height%3D%2211px%22%20viewBox%3D%220%200%2039%2011%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22more%22%20fill%3D%22%23ffffff%22%3E%3Ccircle%20id%3D%22Oval%22%20cx%3D%225.172%22%20cy%3D%225.172%22%20r%3D%225.172%22%3E%3C/circle%3E%3Ccircle%20id%3D%22Oval%22%20cx%3D%2219.172%22%20cy%3D%225.172%22%20r%3D%225.172%22%3E%3C/circle%3E%3Ccircle%20id%3D%22Oval%22%20cx%3D%2233.172%22%20cy%3D%225.172%22%20r%3D%225.172%22%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.tabbar > button > span,
.tabbar > button > .icon {
  display: block;
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 !important;
  flex: 1 !important;
}
html[dir=rtl] .tabbar > button:first-child {
  border-right: none !important;
}
html[dir=rtl] .tabbar > button:last-child {
  border-right: solid 1px #666666 !important;
}
/* ============================== 
   Carousel styles
   =========================== */
#carousel {
  width: 100%;
  height: 100%;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ccc;
}
.carousel-track {
  margin: 0;
  padding: 0;
}
.carousel-track > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 1px !important;
  position: relative;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-box-pack: start;
  -webkit-justify-content: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  border-left: solid 1px #999;
  padding-bottom: 10px;
  -webkit-user-select: none;
}
.carousel-track > li.carousel-panel-active {
  border: none;
}
.carousel-track > li h2 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination {
  list-style: none;
  height: 10px;
  padding: 0;
  margin: 0 auto;
  display: -moz-box;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-box-pack: justify;
  -webkit-justify-content: distribute;
  justify-content: space-around;
}
.pagination::after {
  content: '';
  display: block;
  clear: both;
}
.pagination > li {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 10px;
  width: 10px;
  background-color: #666;
  margin-right: 5px;
  border-radius: 50%;
}
.pagination > li.selected {
  background-color: #007aff;
  cursor: pointer;
}
.pagination > li:last-of-type {
  margin-right: 0;
}
.isDesktop .pagination > li:hover {
  background-color: #007aff;
  cursor: pointer;
}
html[dir=rtl] .pagination > li {
  margin-right: 0;
  margin-left: 5px;
  padding: 0 !important;
}
html[dir=rtl] .pagination > li:last-of-type {
  margin-left: 0;
}
.horizontal-scroll-panel {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: hidden !important;
  overflow-x: auto;
}
.horizontal-scroll-panel > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
  font-size: 0;
}
.horizontal-scroll-panel > ul li {
  display: inline-block;
  border: solid 1px #666;
  box-shadow: 0 0 4px #666;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-right: 20px;
  font-size: 0;
}
.horizontal-scroll-panel > ul:first-of-type {
  margin-left: 0 !important;
}
.horizontal-scroll-panel > ul:last-of-type {
  margin-right: 0 !important;
}
body.isWindows .horizontal-scroll-panel {
  background-color: #333;
}
[dir=rtl] .horizontal-scroll-panel {
  margin-right: -20px;
  padding-right: 20px;
}
[dir=rtl] .horizontal-scroll-panel li {
  margin-right: 0 !important;
  margin-left: 20px !important;
  padding: 0;
}
[dir=rtl] .horizontal-scroll-panel li:first-of-type {
  margin-right: 0 !important;
}
[dir=rtl] .horizontal-scroll-panel li:last-of-type {
  margin-left: 0 !important;
}
[dir=rtl] body.isWindows .horizontal-scroll-panel li {
  float: right;
}
@media only screen and (max-device-width: 480px) {
  .horizontal-scroll-panel {
    height: 125px;
    padding: 10px;
  }
  .horizontal-scroll-panel li {
    height: 125px;
    width: 125px;
  }
}
